@import "~@kizmann/nano-ui/src/root/vars";

.n-popover.n-popover--menu {
    padding: 0;
}

.n-popover.n-popover--menu .n-popover__frame,
.n-inverse .n-popover.n-popover--menu .n-popover__frame {
    border-radius: 0;
    background: $color-primary;
    border-left: 1px solid $color-primary-dark;
}

.n-popover.n-popover--menu .n-popover__body {
    padding: 0 !important;
}
