@import "~@kizmann/nano-ui/src/root/vars";

.sx-aco-node-markup {
    cursor: default;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.sx-aco-node-markup__icon {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    padding: 0 10px 0 5px;
    font-size: 14px;
    opacity: 0.4;
}

.sx-aco-node-markup__title {
    flex: 1 1 auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sx-aco-node-markup__action {
    flex: 0 0 auto;
    display: none;
    padding: 0 5px;
}

.sx-aco-node-markup__action .n-button.n-button--link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    font-size: 12px;
    border-radius: 500px;
    border: 1px solid transparent;
    transition: background 0.15s, border 0.15s;
}

.n-draglist-item:not(.is-dragged):hover .sx-aco-node-markup__action {
    display: inline-flex;
}

.sx-aco-node-markup__action > div {
    margin: 0 2px;
}
