@import "~@kizmann/nano-ui/src/root/vars";

.sx-article-edit .n-map {
    overflow: hidden;
    max-height: 400px;
}

//.n-loader.n-active .sx-froala,
[class*="n-fade-"] .sx-froala {
    opacity: 0;
}
