.sx-element-panel {
    display: flex;
    flex-direction: column;
}

.sx-element-panel__toolbar {
    flex: 0 0 auto;
    padding: 10px 15px;
    border-bottom: 1px solid $color-gray-15;
    box-shadow: 0 0 3px rgba($color-black, 0.15);
}

.sx-element-panel__toolbar-info {
    flex: 1 1 auto;
}

.sx-element-panel__toolbar-edit {
    flex: 0 0 auto;
}

.sx-element-panel__draglist {
    flex: 1 1 auto;
}

.sx-element-panel__draglist .n-draglist-item__element {
    border-bottom: 1px solid $color-gray-10;
}

.sx-element-preview {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    border-left: 10px solid rgba($color-success, 0.3);
}

.sx-element-preview.is-draft {
    border-left-color: rgba($color-info, 0.3);
}

.sx-element-preview__title {
    flex: 1 1 auto;
    padding: 0 15px 0 20px;
}

.sx-element-preview__draft {
    flex: 0 0 auto;
    padding: 0 10px;
}


.sx-element-preview__toolbar {
    flex: 0 0 auto;
    padding: 0 10px;
}