@import "~@kizmann/nano-ui/src/root/vars";

.sx-article-markup {
    overflow: hidden;
    //display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sx-article-markup.sx-not-published {
    color: $color-danger;
}

.sx-article-markup.sx-not-linked {
    font-style: italic;
}

.sx-article-markup.sx-not-translated {
    text-decoration: line-through;
}
