@import "~@kizmann/nano-ui/src/root/vars";

.sx-pagematrix {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: stretch;
}

.sx-pagematrix .n-checkbox {
    width: 100%;
    padding-top: 9px !important;
    padding-bottom: 9px !important;
}

.sx-pagematrix .n-checkbox .n-checkbox__label {
    padding-left: 12px; 
}

.sx-pagematrix .sx-pagematrix-item {
    margin-bottom: 5px;
}

.sx-pagematrix .sx-pagematrix-item {
    padding: 8px 12px;
    border-radius: $md-radius;
    border: 1px solid $color-gray-10;
    box-shadow: 0 1px 3px rgba($color-black, 0.1);
}

.sx-pagematrix .sx-pagematrix-item.n-checked {
    border-color: $color-primary;
}

.sx-pagematrix-item > .n-checkbox__label div:first-child {
    font-size: 14px;
}

.sx-pagematrix-item.n-checked > .n-checkbox__label div:first-child {
    color: $color-primary;
}

.sx-pagematrix-item > .n-checkbox__label div:last-child {
    font-size: 12px;
    color: $color-gray-60;
}