@import "~@kizmann/nano-ui/src/root/vars";

.sx-article-pagetype-markup {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sx-article-pagetype-markup > span {
    display: inline-block;
    width: 20px;
    font-size: 14px;
    color: $color-primary;
    margin-right: 6px;
    text-align: center;
}
