<template>
    <SxLayoutMain :store-key="ctor('name')">

        <NModal width="75%" height="75%" :visible="showModal" @input="closeModal" :selector="false" :closable="false">
            <NDataform slot="raw" :key="id" v-model="id" show-query="examples-show" edit-query="examples-edit" use="SxExampleEdit" :new-title="trans('Example erstellen')" :edit-title="trans('Example bearbeiten')" @close="closeModal" @new="showNew" />
        </NModal>

        <NDatatable slot="body" index-query="examples-index" delete-query="examples-delete" :export-url="Route.get('examples.export')" :current.sync="current" :adapt-height="true" :update-events="['examples-edit']" @new-click="showNew" @row-dblclick="showEdit">

            <NTableColumn
                type="string" prop="name" :label="trans('Name')" :sort="true" :filter="true"
            ></NTableColumn>

            <NTableColumn
                type="string" prop="type" :label="trans('Typ')" :sort="true" :filter="true" :breakpoint="480"
            ></NTableColumn>

            <NTableColumn
                type="string" prop="description" :label="trans('Beschreibung')" :sort="true" :filter="true" :breakpoint="768"
            ></NTableColumn>

            <NTableColumn
                type="string" prop="model_accesslevel" :label="trans('Zugriffsebene')" :sort="true" :filter="true"
            ></NTableColumn>

            <NTableColumn
                type="datetime" prop="modified" :label="trans('Bearbeitet am')" :sort="true" :filter="true" :breakpoint="480"
            ></NTableColumn>

            <NTableColumn
                type="datetime" prop="created" :label="trans('Erstellt am')" :sort="true" :filter="true" :breakpoint="768"
            ></NTableColumn>

        </NDatatable>

        <NInfo :item="current">


            <NInfoColumn
                type="datetime" prop="modified" :label="trans('Bearbeitet am')"
            ></NInfoColumn>

            <NInfoColumn
                type="datetime" prop="created" :label="trans('Erstellt am')"
            ></NInfoColumn>

        </NInfo>

    </SxLayoutMain>
</template>
<script>
    import DefaultIndex from "../../../default/src/index/index.js"

    export default {

        name: 'SxExampleIndex',

        extends: DefaultIndex,

        urls: {
            index: 'examples.index',
            edit: 'examples.edit',
            create: 'examples.create'
        }

    }
</script>
