@import "~@kizmann/nano-ui/src/root/vars";

.n-datatree {
    display: flex;
    flex-direction: column;
}

.n-datatree__header {
    z-index: 10;
    position: relative;
    flex: 0 0 auto;
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid $color-gray-10;
    box-shadow: 0 0 3px rgba($color-black, 0.1);
}

.n-datatree__body {
    flex: 1 1 auto;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}

.n-datatree__body .n-draglist-item {
    padding: 0 10px 0 5px;
}

.n-datatree__body > div {
    flex: 1 1 auto;
}

.n-datatree__footer {
    flex: 0 0 auto;
    width: 100%;
    margin-top: 20px;
}

.n-datatree__toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.n-datatree__toolbar > div {
    flex: 0 0 auto;
}

.n-datatree__toolbar-spacer {
    flex: 1 1 auto !important;
}

.n-datatree__toolbar-search {
    flex: 1 1 auto !important;
    min-width: 0;
}
