@import "~@kizmann/nano-ui/src/root/vars";

.sx-layout-login {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: $color-white;
}

.sx-layout-login__body {
    flex: 0 0 auto;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sx-layout-login__image {
    flex: 0 0 auto;
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(30deg, darken($color-primary, 5%) 0%, $color-primary-lighter 100%);
}

.sx-layout-login__image span {
    display: inline-block;
    width: 200px;
}

.sx-layout-login__image span:before {
    content: '\00a0';
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 26.6%;
    background-image: svg-load('simplex.svg', fill=$color-white);
    background-size: cover;
}
