@import "~@kizmann/nano-ui/src/root/vars";

.sx-focuspoint {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: $color-background;
    overflow-y: auto;
    overflow-x: hidden;
}

.sx-focuspoint__wrapper {
    flex: 1 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sx-focuspoint__toolbar {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px 30px;
    background: $color-white;
    box-shadow: 0 1px 3px rgba($color-gray-50, 0.25);
}

.sx-focuspoint__toolbar > div {
    flex: 0 0 auto;
    padding: 0 7px;
}

.sx-focuspoint__toolbar > div:first-child {
    padding-left: 0;
}

.sx-focuspoint__toolbar > div:last-child {
    padding-right: 0;
}

.sx-focuspoint__toolbar-spacer {
    flex: 1 1 auto !important;
}

.sx-focuspoint__viewport {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.sx-focuspoint__viewport-inner {
    //overflow: hidden;
}

.sx-focuspoint__viewport img {
    display: inline-block;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 600px;
}

.sx-focuspoint__viewport img[src^="data:"] {
    width: 15px;
    height: 15px;
    border-radius: 500px;
    background: rgba($color-black, 0.6);
    box-shadow: 0 0 3px rgba($color-black, 0.15);
}

.sx-focuspoint__metadata {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -30px;
    padding: 15px 30px;
    text-align: center;
}

.sx-focuspoint__metadata > div {
    flex: 0 0 auto;
    padding: 0 7px;
}

.sx-focuspoint__metadata > div:first-child {
    padding-left: 0;
}

.sx-focuspoint__metadata > div:last-child {
    padding-right: 0;
}

.sx-focuspoint__metadata span {
    color: $color-gray-60;
}
