@import "~@kizmann/nano-ui/src/root/vars";

.sx-main {
    //position: relative;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

/**
 * Tree
 */

.sx-main__tree,
.sx-main__info {
    position: relative;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}

.sx-main__tree-inner,
.sx-main__info-inner {
    position: relative;
    overflow: hidden;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    min-height: 0;
    max-height: 100%;
}

.sx-main__tree-inner > div,
.sx-main__info-inner > div {
    flex: 1 1 auto;
}

.sx-main__info-inner > .n-info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sx-main__tree-inner {
    border-right: 5px solid $color-gray-10;
}

.sx-main__info-inner {
    border-left: 5px solid $color-gray-10;
}

.sx-main__body {
    position: relative;
    flex: 1 1 auto;
    overflow-x: auto;
    min-height: 0;
    max-height: 100%;
}

.sx-main__body .n-datatable {
    display: inline-flex;
    min-width: 100%;
}

.sx-main__tree-bar,
.sx-main__info-bar {
    cursor: pointer;
    position: relative;
    flex: 0 0 auto;
    display: flex;
    width: 42px;
    transition: background 150ms;
}

.sx-main__tree-bar {
    background-color: darken($color-primary, 3%);
}

.sx-main__tree-bar:hover {
    background-color: darken($color-primary, 5%);
}

.sx-main__info-bar {
    background-color: darken($color-primary, 3%);
}

.sx-main__info-bar:hover {
    background-color: darken($color-primary, 5%);
}

.sx-main__tree-bar span,
.sx-main__info-bar span {
    position: absolute;
    left: 32px;
    top: 22px;
    display: block;
    width: 0;
    height: 0;
    transform: rotate(90deg);
    letter-spacing: 0.5px;
}

.sx-main__tree-bar span {
    color: $color-white;
}

.sx-main__info-bar span {
    color: $color-white;
}


.n-info__body {
    padding: 15px 0;
}

.n-info__column {
    padding: 0 15px;
}


.sx-main__info-title {
    position: relative;
    height: 63px;
    padding: 0 15px;
    border-bottom: 1px solid $color-gray-10;
    box-shadow: 0 0 3px rgba($color-black, 0.1);
}

.sx-main__info-title h1,
.sx-main__info-title h2,
.sx-main__info-title h3,
.sx-main__info-title h4,
.sx-main__info-title h5,
.sx-main__info-title h6 {
    color: $color-primary;
    line-height: 63px;
}

.sx-main__info-close {
    cursor: pointer;
    position: absolute;
    top: calc(50% - 15px);
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

.sx-main__info-close span {
    font-size: 18px;
    color: $color-gray-30;
    transition: color 0.15s;
}

.sx-main__info-close:hover span {
    color: $color-gray-40;
}

.sx-main__info .sx-main__info-body {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 20px;
}
