@import "~@kizmann/nano-ui/src/root/vars";

.sx-attachment-tree-markup {
    cursor: default;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 36px;
    overflow: hidden;
}

.sx-attachment-tree-markup__icon {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    padding: 0 10px 0 5px;
    font-size: 14px;
    opacity: 0.8;
    color: $color-primary-dark;
}

.sx-attachment-tree-markup__title {
    flex: 1 1 auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sx-attachment-tree-markup__action {
    flex: 0 0 auto;
    padding: 0 5px;
}

.n-draglist-item:not(:hover) .sx-attachment-tree-markup__action {
    display: none;
}

