@import "~@kizmann/nano-ui/src/root/vars";

.sx-attached-item {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    padding: 5px;
    border-bottom: 1px solid $color-gray-10;
}

.sx-attached-item__thumb {
    flex: 0 0 auto;
    position: relative;
    width: 110px;
    height: 100%;
}

.sx-attached-item__thumb > .n-preview {
    overflow: hidden;
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
}

.sx-attached-item__text {
    flex: 1 1 auto;
    overflow: hidden;
    padding: 5px;
    margin-left: 5px;
}

.sx-attached-item__text-title {
    font-size: 14px;
}

.sx-attached-item__text-alternative {
    font-size: 13px;
    color: $color-gray-50;
}

.sx-attached-item__action {
    flex: 0 0 auto;
}

.n-draglist-item:not(.is-dragged):not(:hover) .sx-attached-item__action {
    display: none;
}
