@import "~@kizmann/nano-ui/src/root/vars";

.sx-attachment-upload__notification {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: $color-white;
    background: $color-primary-light;
    border-radius: 500px;
}

.sx-attachment-upload__notification:hover {
    background: $color-primary-lighter;
}

.sx-attachment-upload.sx-attachment-upload--completed .sx-attachment-upload__notification {
    background: $color-success;
}

.sx-attachment-upload.sx-attachment-upload--completed .sx-attachment-upload__notification:hover {
    background: $color-success-light;
}

.sx-attachment-upload.sx-attachment-upload--conflicted .sx-attachment-upload__notification {
    background: $color-warning;
}

.sx-attachment-upload.sx-attachment-upload--conflicted .sx-attachment-upload__notification:hover {
    background: $color-warning-light;
}

.sx-attachment-upload__frame {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    min-height: 0;
    height: 100%;
}

.sx-attachment-upload__header {
    flex: 0 0 auto;
    text-align: center;
    color: $color-primary;
}

.sx-attachment-upload__select {
    flex: 0 0 auto;
    padding: 20px;
    border-bottom: 1px solid $color-gray-10;
    box-shadow: 0 0 3px rgba($color-black, 0.05);
}

.sx-attachment-upload__body {
    flex: 1 1 auto;
    min-height: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}

.sx-attachment-upload__body > div {
    flex: 1 1 auto;
}

.sx-attachment-upload__body.n-loader--active {
    overflow: hidden;
}

.sx-attachment-upload__empty {
    flex: 1 1 auto;
    min-height: 0;
    padding: 20px;
    text-align: center;
}

.sx-attachment-upload__footer {
    flex: 0 0 auto;
    padding: 10px 20px;
    border-top: 1px solid $color-gray-10;
}
