@import "~@kizmann/nano-ui/src/root/vars";

.sx-attachment-table-markup {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.sx-attachment-table-markup span:last-child {
    font-size: 13px;
    color: $color-gray-70;
}

.sx-attachment-table-markup span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sx-attachment-table-markup.sx-not-published {
    color: $color-danger;
}

.sx-attachment-table-markup.sx-not-linked {
    font-style: italic;
}

.sx-attachment-table-markup.sx-not-translated {
    text-decoration: line-through;
}
