@import "~@kizmann/nano-ui/src/root/vars";

.sx-attached-items {
    overflow: hidden;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.sx-attached-items.sx-attached-items--collapsed {
    flex: 0 0 auto;
}

.sx-attached-items__header {
    cursor: pointer;
    flex: 0 0 auto;
    display: flex;
    padding: 15px 15px;
    border-top: 1px solid $color-gray-10;
}

.sx-attached-items:first-child .sx-attached-items__header {
    border-top: none;
}

.sx-attached-items__title {
    flex: 1 1 auto;
}

.sx-attached-items__title span:first-child {
    color: $color-black;
    transition: color 0.15s;
}

.sx-attached-items:not(.sx-attached-items--collapsed) .sx-attached-items__title span:first-child,
.sx-attached-items__header:hover .sx-attached-items__title span:first-child {
    color: $color-primary;
}

.sx-attached-items__title span:last-child {
    color: $color-gray-65;
}

.sx-attached-items__action {
    flex: 0 0 auto;
    margin-right: 15px;
}

.sx-attached-items__angle {
    flex: 0 0 auto;
    width: 15px;
    text-align: center;
    transition: transform 0.15s;
}

.sx-attached-items.sx-attached-items--collapsed .sx-attached-items__angle {
    transform: rotate(-90deg);
}

.sx-attached-items__angle span {
    color: $color-gray-40;
}

.sx-attached-items__body {
    overflow: hidden;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    min-height: 0;
    max-height: 100%;
    border-top: 1px solid $color-gray-10;
}

.sx-attached-items.sx-attached-items--collapsed .sx-attached-items__body {
    display: none;
}

.sx-attached-items__body > div {
    flex: 1 1 auto;
    min-height: 0;
}
