@import "~@kizmann/nano-ui/src/root/vars";

.sx-attachment-title-markup--not-published {
    color: $color-primary;
}

.sx-attachment-title-markup.sx-not-published {
    color: $color-danger;
}

.sx-attachment-title-markup.sx-not-linked {
    font-style: italic;
}

.sx-attachment-title-markup.sx-not-translated {
    text-decoration: line-through;
}
