@import "~@kizmann/nano-ui/src/root/vars";

.sx-attachment-choose {
    overflow: hidden;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sx-attachment-choose__info {
    color: $color-gray-60;
    font-size: 13px;
    margin-bottom: 5px;
}

.sx-attachment-choose__source,
.sx-attachment-choose__target {
    overflow: hidden;
    flex: 1 1 auto;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.sx-attachment-choose__source .n-preview,
.sx-attachment-choose__target .n-preview {
    overflow: hidden;
    flex: 1 1 auto;
    border-radius: $lg-radius;
}

.sx-attachment-choose__source .n-empty-icon,
.sx-attachment-choose__target .n-empty-icon {
    overflow: hidden;
    flex: 1 1 auto;
    border-radius: $lg-radius;
    background: $color-gray-10;
}

.sx-attachment-choose__button {
    z-index: 100;
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    width: 100%;
    padding: 0 10px;
}

.sx-attachment-choose__button .n-button {
    width: 100%;
    margin: 0 5px;
}