@import "~@kizmann/nano-ui/src/root/vars";

.dashboard-statistic {
    overflow: hidden;
    position: relative;
    min-height: 160px;
    background: $color-black-dark;
}

.dashboard-statistic__item {
    position: relative;
    flex: 1 1 auto;
    width: 33.332%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
}

.dashboard-statistic__item:not(:last-child):after {
    content: '\00a0';
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    width: 1px;
    height: 70%;
    transform: translateY(-50%);
    background: $color-black-light;
}

.dashboard-statistic__total {
    width: 100%;
    color: $color-white;
    font-size: 68px;
    line-height: 92px;
    font-weight: 600;
    margin-bottom: -5px;
    overflow: hidden;
    text-overflow: ellipsis;

}

.dashboard-statistic__name {
    width: 100%;
    color: $color-primary;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 20px;
}

.dashboard-statistic__part {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: $color-gray-70;
    font-size: 13px;
}

.dashboard-statistic__part-count {
    font-weight: 600;
    margin-right: 7px;
}

.dashboard-statistic__part-text {
    font-weight: 500;
}
