@import "~@kizmann/nano-ui/src/root/vars";

.dashboard-redirect {
    overflow: hidden;
    position: relative;
    min-height: 160px;
    background: $color-black;
}

.dashboard-redirect p {
    color: $color-white;
}

.dashboard-redirect:before {
    z-index: 100;
    content: '\00a0';
    position: absolute;
    left: -20px;
    top: 50%;
    display: block;
    width: 300px;
    height: 300px;
    transform: translateY(-50%) rotate(15deg);
    background-image: svg-load('external-link.svg', fill=$color-black-light);
    background-position: center 0;
    background-size: contain;
    background-repeat: no-repeat;
}

.dashboard-redirect > div {
    z-index: 200;
    padding: 22px 0;
    position: relative;
}

.dashboard-redirect__title {
    padding: 4px 30px 14px;
}

.dashboard-redirect__items {
    margin-bottom: auto;
}

.dashboard-redirect__item {
    padding: 8px 15px;
    margin: 0 15px;
    border-radius: $md-radius;
    background: $color-black-lighter;
}

.dashboard-redirect__item:not(:last-child) {
    margin-bottom: 6px;
}

.dashboard-redirect__status {
    color: $color-gray-60;
}

.dashboard-redirect__empty {
    padding: 8px 30px;
    text-align: center;
    color: $color-gray-60;
    margin: auto 0;
}
