@import "~@kizmann/nano-ui/src/root/vars";

.dashboard-debug {
    overflow: hidden;
    position: relative;
    min-height: 210px;
    background: darken($color-success, 3%);
}

.dashboard-debug p {
    color: $color-white;
}

.dashboard-debug:before {
    z-index: 100;
    content: '\00a0';
    position: absolute;
    left: -20px;
    top: 50%;
    display: block;
    width: 300px;
    height: 300px;
    transform: translateY(-50%) rotate(15deg);
    background-image: svg-load('rabbit.svg', fill=$color-success-dark);
    background-position: center left;
    background-size: contain;
    background-repeat: no-repeat;
}

.dashboard-debug.dashboard-debug--on {
    background: darken($color-warning, 3%);
}

.dashboard-debug.dashboard-debug--on:before {
    background-image: svg-load('bug.svg', fill=$color-warning-dark);
}

.dashboard-debug > div {
    z-index: 200;
    position: relative;
    padding: 30px;
}
