@import "~@kizmann/nano-ui/src/root/vars";

.dashboard-cat {
    position: relative;
    overflow: hidden;
}

.dashboard-cat:before {
    content: '\00a0';
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 70%;
}

.dashboard-cat img {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.dashboard-cat .n-button {
    z-index: 10;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: $color-white !important;
}

.dashboard-cat .n-button,
.dashboard-cat .n-button:focus {
    transform: rotate(0deg);
    transition: transform 0.6s ease;
}

.dashboard-cat .n-button:hover {
    transform: rotate(180deg);
}
