@import "~@kizmann/nano-ui/src/root/vars";

.dashboard {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    flex: 1 1 auto;
    display: flex;
    color: $color-gray-20;
    background: $color-black-light;
}

.dashboard .n-loader:after {
    background: rgba($color-black, 0.7);
}

.dashboard h1 {
    font-size: 28px;
    font-weight: 300;
    color: $color-white;
}

.dashboard h1 b {
    font-weight: 600;
}

.dashboard h2,
.dashboard h3 {
    font-weight: 500;
    color: $color-white;
}

.dashboard h4,
.dashboard h5,
.dashboard h6 {
    font-weight: 600;
    color: $color-white;
}

.dashboard p {
    color: $color-white;
}

.dashboard .n-scrollbar__wrap {
    padding: 30px;
}

.dashboard__header {
    padding: 10px 30px 15px 30px;
    max-width: 1360px;
    margin: 0 auto;
}

.dashboard__body {
    padding: 20px;
    max-width: 1360px;
    margin: 0 auto;
}

.dashboard__body > .grid > [class^="col-"] {
    display: flex;
    flex-direction: column;
}

.dashboard__body > .grid > [class^="col-"] > div {
    flex: 1 0 auto;
}

.dashboard-bar {
    display: flex;
    flex-direction: column;
    border-radius: $md-radius;
    box-shadow: 0 1px 3px 1px rgba($color-black, 0.05)
}

.dashboard-bar > div {
    width: 100%;
    flex: 1 0 auto;
}
