@import "~@kizmann/nano-ui/src/root/vars";

.dashboard-order {
    overflow: hidden;
    position: relative;
    min-height: 160px;
    background: $color-black;
}

.dashboard-order p {
    color: $color-white;
}

.dashboard-order:before {
    z-index: 100;
    content: '\00a0';
    position: absolute;
    left: -20px;
    top: 50%;
    display: block;
    width: 300px;
    height: 300px;
    transform: translateY(-50%) rotate(15deg);
    background-image: svg-load('shopping-basket.svg', fill=$color-black-light);
    background-position: center 0;
    background-size: contain;
    background-repeat: no-repeat;
}

.dashboard-order > div {
    z-index: 200;
    padding: 22px 0;
    position: relative;
}

.dashboard-order__title {
    padding: 4px 30px 14px;
}

.dashboard-order__items {
    margin-bottom: auto;
}

.dashboard-order__item {
    padding: 8px 30px;
}

.dashboard-order__action {
    display: flex;
    flex-direction: row;
}

.dashboard-order__action > div {
    margin: 0 2px;
}

.dashboard-order__empty {
    padding: 8px 30px;
    text-align: center;
    color: $color-gray-60;
    margin: auto 0;
}
