@import "~@kizmann/nano-ui/src/root/vars";

.dashboard-maintenance {
    overflow: hidden;
    position: relative;
    min-height: 210px;
    background: darken($color-primary, 3%);
}

.dashboard-maintenance p {
    color: $color-white;
}

.dashboard-maintenance:before {
    z-index: 100;
    content: '\00a0';
    position: absolute;
    left: -20px;
    top: 50%;
    display: block;
    width: 300px;
    height: 300px;
    transform: translateY(-50%) rotate(15deg);
    background-image: svg-load('construction.svg', fill=$color-primary-dark);
    background-position: center left;
    background-size: contain;
    background-repeat: no-repeat;
}

.dashboard-maintenance.dashboard-maintenance--on {
    background: darken($color-warning, 3%);
}

.dashboard-maintenance.dashboard-maintenance--on:before {
    background-image: svg-load('construction.svg', fill=$color-warning-dark);
}

.dashboard-maintenance > div {
    z-index: 200;
    position: relative;
    padding: 30px;
}
