@import "~@kizmann/nano-ui/src/root/vars";

.sx-code-editor {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.sx-code-editor:after {
    background: rgba($color-black, 0.7);
}

.sx-code-editor__header {
    flex: 0 0 auto;
    width: 100%;
    padding: 10px 20px;
    background: $color-black-light;
}

.sx-code-editor__body {
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
    overflow: hidden;
}
