<template>

    <SxLayoutMain store-key="code">

        <NDatatree slot="tree" index-query="menus-tree" delete-query="menus-delete" move-query="menus-move" :group="['menus']" :update-events="['locale/change']" :adapt-height="true" :allow-drop="false" use="SxMenuTreeNode">
        </NDatatree>

        <NLoader slot="body" :visible="load" class="sx-code-editor n-inverse">
            <div class="sx-code-editor__header">
                <div class="grid grid--row grid--middle">
                    <div class="col col--left">
                        <NSelect v-model="index" style="width: 200px;">
                            <NSelectOption v-for="(file, key) in Obj.get(query, 'data', [])" :key="key" :value="key">
                                {{ file.label }}
                            </NSelectOption>
                        </NSelect>
                    </div>
                    <div class="col col--right">
                        <NButton icon="fa fa-check">{{ trans('Save') }}</NButton>
                    </div>
                </div>
            </div>
            <MonacoEditor ref="editor" class="sx-code-editor__body" theme="simplex" :value="content" :language="language" :options="monaco"></MonacoEditor>
        </NLoader>

    </SxLayoutMain>

</template>
<script>
    export default {

        name: 'SxCodeEditor',

        computed: {

            monaco()
            {
                return window.monacoDefault;
            },

            language()
            {
                return this.Obj.get(this.query.data,
                    [this.index, 'language'], '');
            },

            content()
            {
                return this.Obj.get(this.query.data,
                    [this.index, 'content'], '');
            }

        },

        data()
        {
            return {
                load: true, index: 0, query: {}
            };
        },

        watch: {

            query()
            {
                this.value = this.query.data;
            }

        },

        mounted()
        {
            let options = {
                onLoad: () => this.load = true,
                onDone: () => this.load = false
            };

            this.Ajax.call('system-extras', false, {}, options)
                .then((res) => this.query = res.data);
        }


    }
</script>
