@import "~@kizmann/nano-ui/src/root/vars";

$font-prefix: 'sx-customicon-' !default;

@font-face {
    font-family: 'sx-icon';
    src: url('../fonts/sx-icon.eot?84580693');
    src: url('../fonts/sx-icon.eot?84580693#iefix') format('embedded-opentype'),
    url('../fonts/sx-icon.woff2?84580693') format('woff2'),
    url('../fonts/sx-icon.woff?84580693') format('woff'),
    url('../fonts/sx-icon.ttf?84580693') format('truetype'),
    url('../fonts/sx-icon.svg?84580693#sx-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'sx-icon';
    src: url('../font/sx-icon.svg?84580693#sx-icon') format('svg');
  }
}
*/

.sx-iconfont,
.sx-iconfont__option {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sx-iconfont__icon,
.sx-iconfont__option i {
    display: inline-block;
    width: 34px;
    margin-right: 8px;
    text-align: center;
    font-size: 21px;
    color: $color-primary;
}

[class^="#{$font-prefix}"]:before, [class*=" #{$font-prefix}"]:before {
    font-family: "sx-icon";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.#{$font-prefix}guidedog:before {
    content: '\21';
}

/* '!' */
.#{$font-prefix}whatsapp:before {
    content: '\22';
}

/* '&quot;' */
.#{$font-prefix}left-circled:before {
    content: '\e800';
}

/* '' */
.#{$font-prefix}right-circled:before {
    content: '\e801';
}

/* '' */
.#{$font-prefix}up-circled:before {
    content: '\e802';
}

/* '' */
.#{$font-prefix}down-circled:before {
    content: '\e803';
}

/* '' */
.#{$font-prefix}angle-circled-down:before {
    content: '\e804';
}

/* '' */
.#{$font-prefix}angle-circled-up:before {
    content: '\e805';
}

/* '' */
.#{$font-prefix}angle-circled-right:before {
    content: '\e806';
}

/* '' */
.#{$font-prefix}angle-circled-left:before {
    content: '\e807';
}

/* '' */
.#{$font-prefix}zoom-in:before {
    content: '\e808';
}

/* '' */
.#{$font-prefix}zoom-out:before {
    content: '\e809';
}

/* '' */
.#{$font-prefix}off:before {
    content: '\e80a';
}

/* '' */
.#{$font-prefix}play:before {
    content: '\e80b';
}

/* '' */
.#{$font-prefix}play-circled:before {
    content: '\e80c';
}

/* '' */
.#{$font-prefix}play-circled2:before {
    content: '\e80d';
}

/* '' */
.#{$font-prefix}facebook:before {
    content: '\e80e';
}

/* '' */
.#{$font-prefix}circle:before {
    content: '\e80f';
}

/* '' */
.#{$font-prefix}circle-empty:before {
    content: '\e810';
}

/* '' */
.#{$font-prefix}dot-circled:before {
    content: '\e811';
}

/* '' */
.#{$font-prefix}basket:before {
    content: '\e812';
}

/* '' */
.#{$font-prefix}bag:before {
    content: '\e813';
}

/* '' */
.#{$font-prefix}lock-open:before {
    content: '\e814';
}

/* '' */
.#{$font-prefix}lock:before {
    content: '\e815';
}

/* '' */
.#{$font-prefix}mail:before {
    content: '\e816';
}

/* '' */
.#{$font-prefix}heart:before {
    content: '\e817';
}

/* '' */
.#{$font-prefix}heart-empty:before {
    content: '\e818';
}

/* '' */
.#{$font-prefix}star:before {
    content: '\e819';
}

/* '' */
.#{$font-prefix}star-empty:before {
    content: '\e81a';
}

/* '' */
.#{$font-prefix}left-open-big:before {
    content: '\e81b';
}

/* '' */
.#{$font-prefix}right-open-big:before {
    content: '\e81c';
}

/* '' */
.#{$font-prefix}up-open-big:before {
    content: '\e81d';
}

/* '' */
.#{$font-prefix}down-open-big:before {
    content: '\e81e';
}

/* '' */
.#{$font-prefix}left-open-mini:before {
    content: '\e81f';
}

/* '' */
.#{$font-prefix}right-open-mini:before {
    content: '\e820';
}

/* '' */
.#{$font-prefix}up-open-mini:before {
    content: '\e821';
}

/* '' */
.#{$font-prefix}down-open-mini:before {
    content: '\e822';
}

/* '' */
.#{$font-prefix}dot-3:before {
    content: '\e823';
}

/* '' */
.#{$font-prefix}facebook-circled:before {
    content: '\e824';
}

/* '' */
.#{$font-prefix}twitter-circled:before {
    content: '\e825';
}

/* '' */
.#{$font-prefix}vimeo-circled:before {
    content: '\e826';
}

/* '' */
.#{$font-prefix}pinterest-circled:before {
    content: '\e827';
}

/* '' */
.#{$font-prefix}gplus-circled:before {
    content: '\e828';
}

/* '' */
.#{$font-prefix}linkedin-circled:before {
    content: '\e829';
}

/* '' */
.#{$font-prefix}dribbble-circled:before {
    content: '\e82a';
}

/* '' */
.#{$font-prefix}stumbleupon-circled:before {
    content: '\e82b';
}

/* '' */
.#{$font-prefix}lastfm-circled:before {
    content: '\e82c';
}

/* '' */
.#{$font-prefix}rdio-circled:before {
    content: '\e82d';
}

/* '' */
.#{$font-prefix}tumblr-circled:before {
    content: '\e82e';
}

/* '' */
.#{$font-prefix}tumblr:before {
    content: '\e82f';
}

/* '' */
.#{$font-prefix}pinterest:before {
    content: '\e830';
}

/* '' */
.#{$font-prefix}gplus:before {
    content: '\e831';
}

/* '' */
.#{$font-prefix}facebook-1:before {
    content: '\e832';
}

/* '' */
.#{$font-prefix}twitter:before {
    content: '\e833';
}

/* '' */
.#{$font-prefix}vimeo:before {
    content: '\e834';
}

/* '' */
.#{$font-prefix}flickr-circled:before {
    content: '\e835';
}

/* '' */
.#{$font-prefix}flickr:before {
    content: '\e836';
}

/* '' */
.#{$font-prefix}github-circled:before {
    content: '\e837';
}

/* '' */
.#{$font-prefix}github:before {
    content: '\e838';
}

/* '' */
.#{$font-prefix}lastfm:before {
    content: '\e839';
}

/* '' */
.#{$font-prefix}stumbleupon:before {
    content: '\e83a';
}

/* '' */
.#{$font-prefix}dribbble:before {
    content: '\e83b';
}

/* '' */
.#{$font-prefix}linkedin:before {
    content: '\e83c';
}

/* '' */
.#{$font-prefix}ok-circle:before {
    content: '\e83d';
}

/* '' */
.#{$font-prefix}gplus-circled-1:before {
    content: '\e83e';
}

/* '' */
.#{$font-prefix}gplus-1:before {
    content: '\e83f';
}

/* '' */
.#{$font-prefix}vimeo-2:before {
    content: '\e840';
}

/* '' */
.#{$font-prefix}twitter-1:before {
    content: '\e841';
}

/* '' */
.#{$font-prefix}soundcloud-circled:before {
    content: '\e842';
}

/* '' */
.#{$font-prefix}soundcloud:before {
    content: '\e843';
}

/* '' */
.#{$font-prefix}youtube:before {
    content: '\e844';
}

/* '' */
.#{$font-prefix}w3c:before {
    content: '\e845';
}

/* '' */
.#{$font-prefix}html5:before {
    content: '\e846';
}

/* '' */
.#{$font-prefix}ie:before {
    content: '\e847';
}

/* '' */
.#{$font-prefix}amex:before {
    content: '\e848';
}

/* '' */
.#{$font-prefix}discover:before {
    content: '\e849';
}

/* '' */
.#{$font-prefix}visa:before {
    content: '\e84a';
}

/* '' */
.#{$font-prefix}mastercard:before {
    content: '\e84b';
}

/* '' */
.#{$font-prefix}picasa:before {
    content: '\e84c';
}

/* '' */
.#{$font-prefix}mail-1:before {
    content: '\e84d';
}

/* '' */
.#{$font-prefix}search:before {
    content: '\e84e';
}

/* '' */
.#{$font-prefix}search-circled:before {
    content: '\e84f';
}

/* '' */
.#{$font-prefix}facebook-2:before {
    content: '\e850';
}

/* '' */
.#{$font-prefix}tumblr-1:before {
    content: '\e851';
}

/* '' */
.#{$font-prefix}vimeo-1:before {
    content: '\e852';
}

/* '' */
.#{$font-prefix}vkontakte:before {
    content: '\e853';
}

/* '' */
.#{$font-prefix}w3c-1:before {
    content: '\e854';
}

/* '' */
.#{$font-prefix}linkedin-1:before {
    content: '\e855';
}

/* '' */
.#{$font-prefix}googleplus:before {
    content: '\e856';
}

/* '' */
.#{$font-prefix}flickr-1:before {
    content: '\e857';
}

/* '' */
.#{$font-prefix}foursquare:before {
    content: '\e858';
}

/* '' */
.#{$font-prefix}friendfeed-rect:before {
    content: '\e859';
}

/* '' */
.#{$font-prefix}blogger:before {
    content: '\e85a';
}

/* '' */
.#{$font-prefix}behance:before {
    content: '\e85b';
}

/* '' */
.#{$font-prefix}css:before {
    content: '\e85c';
}

/* '' */
.#{$font-prefix}left-open:before {
    content: '\e85d';
}

/* '' */
.#{$font-prefix}right-open:before {
    content: '\e85e';
}

/* '' */
.#{$font-prefix}up-open:before {
    content: '\e85f';
}

/* '' */
.#{$font-prefix}down-open:before {
    content: '\e860';
}

/* '' */
.#{$font-prefix}mail-circled:before {
    content: '\e861';
}

/* '' */
.#{$font-prefix}align-justify-1:before {
    content: '\e862';
}

/* '' */
.#{$font-prefix}pause:before {
    content: '\e863';
}

/* '' */
.#{$font-prefix}pause-circled:before {
    content: '\e864';
}

/* '' */
.#{$font-prefix}stop:before {
    content: '\e865';
}

/* '' */
.#{$font-prefix}stop-circled:before {
    content: '\e866';
}

/* '' */
.#{$font-prefix}volume-up:before {
    content: '\e867';
}

/* '' */
.#{$font-prefix}volume:before {
    content: '\e868';
}

/* '' */
.#{$font-prefix}volume-down:before {
    content: '\e869';
}

/* '' */
.#{$font-prefix}volume-off:before {
    content: '\e86a';
}

/* '' */
.#{$font-prefix}phone-circled:before {
    content: '\e86b';
}

/* '' */
.#{$font-prefix}phone:before {
    content: '\e86c';
}

/* '' */
.#{$font-prefix}rss:before {
    content: '\e86d';
}

/* '' */
.#{$font-prefix}cog:before {
    content: '\e86e';
}

/* '' */
.#{$font-prefix}cog-circled:before {
    content: '\e86f';
}

/* '' */
.#{$font-prefix}cogs:before {
    content: '\e870';
}

/* '' */
.#{$font-prefix}wrench-circled:before {
    content: '\e871';
}

/* '' */
.#{$font-prefix}wrench:before {
    content: '\e872';
}

/* '' */
.#{$font-prefix}basket-circled:before {
    content: '\e873';
}

/* '' */
.#{$font-prefix}pencil-circled:before {
    content: '\e874';
}

/* '' */
.#{$font-prefix}pencil:before {
    content: '\e875';
}

/* '' */
.#{$font-prefix}headphones:before {
    content: '\e876';
}

/* '' */
.#{$font-prefix}v:before {
    content: '\e877';
}

/* '' */
.#{$font-prefix}comment:before {
    content: '\e878';
}

/* '' */
.#{$font-prefix}comment-alt:before {
    content: '\e879';
}

/* '' */
.#{$font-prefix}th-large:before {
    content: '\e87a';
}

/* '' */
.#{$font-prefix}th:before {
    content: '\e87b';
}

/* '' */
.#{$font-prefix}home:before {
    content: '\e87c';
}

/* '' */
.#{$font-prefix}camera:before {
    content: '\e87d';
}

/* '' */
.#{$font-prefix}picture:before {
    content: '\e87e';
}

/* '' */
.#{$font-prefix}video-chat:before {
    content: '\e87f';
}

/* '' */
.#{$font-prefix}star-1:before {
    content: '\e880';
}

/* '' */
.#{$font-prefix}star-circled:before {
    content: '\e881';
}

/* '' */
.#{$font-prefix}star-empty-1:before {
    content: '\e882';
}

/* '' */
.#{$font-prefix}group:before {
    content: '\e883';
}

/* '' */
.#{$font-prefix}user:before {
    content: '\e884';
}

/* '' */
.#{$font-prefix}group-circled:before {
    content: '\e885';
}

/* '' */
.#{$font-prefix}icon-nav:before {
    content: '\e886';
}

/* '' */
.#{$font-prefix}arrows-cw:before {
    content: '\e887';
}

/* '' */
.#{$font-prefix}th-list:before {
    content: '\e888';
}

/* '' */
.#{$font-prefix}ok-circle-1:before {
    content: '\e889';
}

/* '' */
.#{$font-prefix}minus-circle:before {
    content: '\e88a';
}

/* '' */
.#{$font-prefix}plus-circle:before {
    content: '\e88b';
}

/* '' */
.#{$font-prefix}cancel-circle:before {
    content: '\e88c';
}

/* '' */
.#{$font-prefix}resize-full-circle:before {
    content: '\e88d';
}

/* '' */
.#{$font-prefix}location:before {
    content: '\e88e';
}

/* '' */
.#{$font-prefix}attach:before {
    content: '\e88f';
}

/* '' */
.#{$font-prefix}lock-1:before {
    content: '\e890';
}

/* '' */
.#{$font-prefix}target:before {
    content: '\e891';
}

/* '' */
.#{$font-prefix}down-circle:before {
    content: '\e892';
}

/* '' */
.#{$font-prefix}left-circle:before {
    content: '\e893';
}

/* '' */
.#{$font-prefix}right-circle:before {
    content: '\e894';
}

/* '' */
.#{$font-prefix}up-circle:before {
    content: '\e895';
}

/* '' */
.#{$font-prefix}spin1:before {
    content: '\e896';
}

/* '' */
.#{$font-prefix}spin2:before {
    content: '\e897';
}

/* '' */
.#{$font-prefix}spin3:before {
    content: '\e898';
}

/* '' */
.#{$font-prefix}spin4:before {
    content: '\e899';
}

/* '' */
.#{$font-prefix}spin5:before {
    content: '\e89a';
}

/* '' */
.#{$font-prefix}spin6:before {
    content: '\e89b';
}

/* '' */
.#{$font-prefix}v-mono:before {
    content: '\e89c';
}

/* '' */
.#{$font-prefix}dot:before {
    content: '\e89d';
}

/* '' */
.#{$font-prefix}icon-tel:before {
    content: '\e89e';
}

/* '' */
.#{$font-prefix}icon-web:before {
    content: '\e89f';
}

/* '' */
.#{$font-prefix}dot-2:before {
    content: '\e8a0';
}

/* '' */
.#{$font-prefix}android:before {
    content: '\e8a1';
}

/* '' */
.#{$font-prefix}windows:before {
    content: '\e8a2';
}

/* '' */
.#{$font-prefix}xing:before {
    content: '\e8a3';
}

/* '' */
.#{$font-prefix}yahoo:before {
    content: '\e8a4';
}

/* '' */
.#{$font-prefix}icon-nav2:before {
    content: '\e8a5';
}

/* '' */
.#{$font-prefix}pfeil-left:before {
    content: '\e8a6';
}

/* '' */
.#{$font-prefix}pfeil-right:before {
    content: '\e8a7';
}

/* '' */
.#{$font-prefix}pfeil-top:before {
    content: '\e8a8';
}

/* '' */
.#{$font-prefix}pfeil-bottom:before {
    content: '\e8a9';
}

/* '' */
.#{$font-prefix}trash-circled:before {
    content: '\e8aa';
}

/* '' */
.#{$font-prefix}trash:before {
    content: '\e8ab';
}

/* '' */
.#{$font-prefix}calendar:before {
    content: '\e8ac';
}

/* '' */
.#{$font-prefix}calendar-circled:before {
    content: '\e8ad';
}

/* '' */
.#{$font-prefix}basket-1:before {
    content: '\e8ae';
}

/* '' */
.#{$font-prefix}down-circled2:before {
    content: '\e8af';
}

/* '' */
.#{$font-prefix}download-cloud:before {
    content: '\e8b0';
}

/* '' */
.#{$font-prefix}location-circled:before {
    content: '\e8b1';
}

/* '' */
.#{$font-prefix}location-1:before {
    content: '\e8b2';
}

/* '' */
.#{$font-prefix}zoom-out-1:before {
    content: '\e8b3';
}

/* '' */
.#{$font-prefix}zoom-in-1:before {
    content: '\e8b4';
}

/* '' */
.#{$font-prefix}attach-circled:before {
    content: '\e8b5';
}

/* '' */
.#{$font-prefix}attach-1:before {
    content: '\e8b6';
}

/* '' */
.#{$font-prefix}home-circled:before {
    content: '\e8b7';
}

/* '' */
.#{$font-prefix}lock-circled:before {
    content: '\e8b8';
}

/* '' */
.#{$font-prefix}lock-2:before {
    content: '\e8b9';
}

/* '' */
.#{$font-prefix}lock-open-1:before {
    content: '\e8ba';
}

/* '' */
.#{$font-prefix}lock-open-alt:before {
    content: '\e8bb';
}

/* '' */
.#{$font-prefix}inbox-circled:before {
    content: '\e8bc';
}

/* '' */
.#{$font-prefix}doc-circled:before {
    content: '\e8bd';
}

/* '' */
.#{$font-prefix}doc:before {
    content: '\e8be';
}

/* '' */
.#{$font-prefix}lightbulb-alt:before {
    content: '\e8bf';
}

/* '' */
.#{$font-prefix}lightbulb:before {
    content: '\e8c0';
}

/* '' */
.#{$font-prefix}trash-1:before {
    content: '\e8c1';
}

/* '' */
.#{$font-prefix}basket-2:before {
    content: '\e8c2';
}

/* '' */
.#{$font-prefix}signal:before {
    content: '\e8c3';
}

/* '' */
.#{$font-prefix}icon-mail-kreis:before {
    content: '\e8c4';
}

/* '' */
.#{$font-prefix}info-1:before {
    content: '\e8c5';
}

/* '' */
.#{$font-prefix}attention-filled:before {
    content: '\e8c6';
}

/* '' */
.#{$font-prefix}warning:before {
    content: '\e8c7';
}

/* '' */
.#{$font-prefix}attention-circled:before {
    content: '\e8c8';
}

/* '' */
.#{$font-prefix}gift:before {
    content: '\e8c9';
}

/* '' */
.#{$font-prefix}gift-1:before {
    content: '\e8ca';
}

/* '' */
.#{$font-prefix}calendar-1:before {
    content: '\e8cb';
}

/* '' */
.#{$font-prefix}clock-1:before {
    content: '\e8cc';
}

/* '' */
.#{$font-prefix}download:before {
    content: '\e8cd';
}

/* '' */
.#{$font-prefix}download-alt:before {
    content: '\e8ce';
}

/* '' */
.#{$font-prefix}compass-circled:before {
    content: '\e8cf';
}

/* '' */
.#{$font-prefix}compass:before {
    content: '\e8d0';
}

/* '' */
.#{$font-prefix}compass-1:before {
    content: '\e8d1';
}

/* '' */
.#{$font-prefix}compass-2:before {
    content: '\e8d2';
}

/* '' */
.#{$font-prefix}down-dir:before {
    content: '\e8d3';
}

/* '' */
.#{$font-prefix}down-open-1:before {
    content: '\e8d4';
}

/* '' */
.#{$font-prefix}angle-down:before {
    content: '\e8d5';
}

/* '' */
.#{$font-prefix}up-dir:before {
    content: '\e8d6';
}

/* '' */
.#{$font-prefix}up-open-1:before {
    content: '\e8d7';
}

/* '' */
.#{$font-prefix}angle-up:before {
    content: '\e8d8';
}

/* '' */
.#{$font-prefix}thumbs-up-alt:before {
    content: '\e8d9';
}

/* '' */
.#{$font-prefix}thumbs-down-alt:before {
    content: '\e8da';
}

/* '' */
.#{$font-prefix}thumbs-up-1:before {
    content: '\e8db';
}

/* '' */
.#{$font-prefix}thumbs-down-1:before {
    content: '\e8dc';
}

/* '' */
.#{$font-prefix}th-list-1:before {
    content: '\e8dd';
}

/* '' */
.#{$font-prefix}pfeil-resize-small:before {
    content: '\e8de';
}

/* '' */
.#{$font-prefix}plus-1:before {
    content: '\e8df';
}

/* '' */
.#{$font-prefix}plus-circled:before {
    content: '\e8e0';
}

/* '' */
.#{$font-prefix}minus-1:before {
    content: '\e8e1';
}

/* '' */
.#{$font-prefix}minus-circled:before {
    content: '\e8e2';
}

/* '' */
.#{$font-prefix}pfeil-resize-full:before {
    content: '\e8e3';
}

/* '' */
.#{$font-prefix}export:before {
    content: '\e8e4';
}

/* '' */
.#{$font-prefix}upload:before {
    content: '\e8e5';
}

/* '' */
.#{$font-prefix}male:before {
    content: '\e8e6';
}

/* '' */
.#{$font-prefix}female:before {
    content: '\e8e7';
}

/* '' */
.#{$font-prefix}share:before {
    content: '\e8e8';
}

/* '' */
.#{$font-prefix}social-youtube-rund:before {
    content: '\e8e9';
}

/* '' */
.#{$font-prefix}icon-kommentieren:before {
    content: '\e8ea';
}

/* '' */
.#{$font-prefix}icon-antworten:before {
    content: '\e8eb';
}

/* '' */
.#{$font-prefix}icon-herzschloss-kreis:before {
    content: '\e8ec';
}

/* '' */
.#{$font-prefix}icon-lieblingsmaedchen:before {
    content: '\e8ed';
}

/* '' */
.#{$font-prefix}icon-herzschloss:before {
    content: '\e8ee';
}

/* '' */
.#{$font-prefix}icon-share-kreis:before {
    content: '\e8ef';
}

/* '' */
.#{$font-prefix}x:before {
    content: '\e8f0';
}

/* '' */
.#{$font-prefix}x-mono:before {
    content: '\e8f1';
}

/* '' */
.#{$font-prefix}cancel:before {
    content: '\e8f2';
}

/* '' */
.#{$font-prefix}cancel-1:before {
    content: '\e8f3';
}

/* '' */
.#{$font-prefix}cancel-circle-1:before {
    content: '\e8f4';
}

/* '' */
.#{$font-prefix}lock-open-2:before {
    content: '\e8f5';
}

/* '' */
.#{$font-prefix}lock-3:before {
    content: '\e8f6';
}

/* '' */
.#{$font-prefix}hourglass:before {
    content: '\e8f7';
}

/* '' */
.#{$font-prefix}plus:before {
    content: '\e8f8';
}

/* '' */
.#{$font-prefix}plus-circled-1:before {
    content: '\e8f9';
}

/* '' */
.#{$font-prefix}comment-1:before {
    content: '\e8fa';
}

/* '' */
.#{$font-prefix}chat:before {
    content: '\e8fb';
}

/* '' */
.#{$font-prefix}comment-empty:before {
    content: '\e8fc';
}

/* '' */
.#{$font-prefix}chat-empty:before {
    content: '\e8fd';
}

/* '' */
.#{$font-prefix}sun:before {
    content: '\e8fe';
}

/* '' */
.#{$font-prefix}moon:before {
    content: '\e8ff';
}

/* '' */
.#{$font-prefix}cloud-sun:before {
    content: '\e900';
}

/* '' */
.#{$font-prefix}cloud-moon:before {
    content: '\e901';
}

/* '' */
.#{$font-prefix}cloud:before {
    content: '\e902';
}

/* '' */
.#{$font-prefix}clouds:before {
    content: '\e903';
}

/* '' */
.#{$font-prefix}rain:before {
    content: '\e904';
}

/* '' */
.#{$font-prefix}drizzle:before {
    content: '\e905';
}

/* '' */
.#{$font-prefix}cloud-flash-alt:before {
    content: '\e906';
}

/* '' */
.#{$font-prefix}snow-heavy:before {
    content: '\e907';
}

/* '' */
.#{$font-prefix}fog:before {
    content: '\e908';
}

/* '' */
.#{$font-prefix}right-dir:before {
    content: '\e909';
}

/* '' */
.#{$font-prefix}left-dir:before {
    content: '\e90a';
}

/* '' */
.#{$font-prefix}angle-left:before {
    content: '\e90b';
}

/* '' */
.#{$font-prefix}angle-right:before {
    content: '\e90c';
}

/* '' */
.#{$font-prefix}attention:before {
    content: '\e90d';
}

/* '' */
.#{$font-prefix}cancel-circle-2:before {
    content: '\e90e';
}

/* '' */
.#{$font-prefix}plus-circle-1:before {
    content: '\e90f';
}

/* '' */
.#{$font-prefix}minus-circle-1:before {
    content: '\e910';
}

/* '' */
.#{$font-prefix}skype:before {
    content: '\e911';
}

/* '' */
.#{$font-prefix}heart-1:before {
    content: '\e912';
}

/* '' */
.#{$font-prefix}heart-circled:before {
    content: '\e913';
}

/* '' */
.#{$font-prefix}heart-empty-1:before {
    content: '\e914';
}

/* '' */
.#{$font-prefix}wordpress:before {
    content: '\e915';
}

/* '' */
.#{$font-prefix}skype-1:before {
    content: '\e916';
}

/* '' */
.#{$font-prefix}male-1:before {
    content: '\e917';
}

/* '' */
.#{$font-prefix}female-1:before {
    content: '\e918';
}

/* '' */
.#{$font-prefix}child:before {
    content: '\e919';
}

/* '' */
.#{$font-prefix}users:before {
    content: '\e91a';
}

/* '' */
.#{$font-prefix}user-1:before {
    content: '\e91b';
}

/* '' */
.#{$font-prefix}attach-2:before {
    content: '\e91c';
}

/* '' */
.#{$font-prefix}pin:before {
    content: '\e91d';
}

/* '' */
.#{$font-prefix}home-1:before {
    content: '\e91e';
}

/* '' */
.#{$font-prefix}icon-nav-thin:before {
    content: '\e91f';
}

/* '' */
.#{$font-prefix}print:before {
    content: '\e920';
}

/* '' */
.#{$font-prefix}instagram:before {
    content: '\e921';
}

/* '' */
.#{$font-prefix}instagram-circled:before {
    content: '\e922';
}

/* '' */
.#{$font-prefix}instagram-1:before {
    content: '\e923';
}

/* '' */
.#{$font-prefix}instagramm:before {
    content: '\e924';
}

/* '' */
.#{$font-prefix}ok:before {
    content: '\e925';
}

/* '' */
.#{$font-prefix}ok-1:before {
    content: '\e926';
}

/* '' */
.#{$font-prefix}ok-2:before {
    content: '\e927';
}

/* '' */
.#{$font-prefix}book:before {
    content: '\e928';
}

/* '' */
.#{$font-prefix}book-1:before {
    content: '\e929';
}

/* '' */
.#{$font-prefix}bookmark:before {
    content: '\e92a';
}

/* '' */
.#{$font-prefix}bookmark-1:before {
    content: '\e92b';
}

/* '' */
.#{$font-prefix}bookmark-empty:before {
    content: '\e92c';
}

/* '' */
.#{$font-prefix}mail-2:before {
    content: '\e92d';
}

/* '' */
.#{$font-prefix}email:before {
    content: '\e92e';
}

/* '' */
.#{$font-prefix}cloud-flash:before {
    content: '\e92f';
}

/* '' */
.#{$font-prefix}clouds-flash:before {
    content: '\e930';
}

/* '' */
.#{$font-prefix}cloud-sun-inv:before {
    content: '\e931';
}

/* '' */
.#{$font-prefix}cloud-moon-inv:before {
    content: '\e932';
}

/* '' */
.#{$font-prefix}cloud-inv:before {
    content: '\e933';
}

/* '' */
.#{$font-prefix}cloud-flash-inv:before {
    content: '\e934';
}

/* '' */
.#{$font-prefix}drizzle-inv:before {
    content: '\e935';
}

/* '' */
.#{$font-prefix}rain-inv:before {
    content: '\e936';
}

/* '' */
.#{$font-prefix}moon-inv:before {
    content: '\e937';
}

/* '' */
.#{$font-prefix}sun-inv:before {
    content: '\e938';
}

/* '' */
.#{$font-prefix}clouds-flash-alt:before {
    content: '\e939';
}

/* '' */
.#{$font-prefix}celcius:before {
    content: '\e93a';
}

/* '' */
.#{$font-prefix}fahrenheit:before {
    content: '\e93b';
}

/* '' */
.#{$font-prefix}compass-3:before {
    content: '\e93c';
}

/* '' */
.#{$font-prefix}clouds-flash-inv:before {
    content: '\e93d';
}

/* '' */
.#{$font-prefix}clouds-inv:before {
    content: '\e93e';
}

/* '' */
.#{$font-prefix}hail-inv:before {
    content: '\e93f';
}

/* '' */
.#{$font-prefix}snow-heavy-inv:before {
    content: '\e940';
}

/* '' */
.#{$font-prefix}snow-inv:before {
    content: '\e941';
}

/* '' */
.#{$font-prefix}windy-rain-inv:before {
    content: '\e942';
}

/* '' */
.#{$font-prefix}windy-inv:before {
    content: '\e943';
}

/* '' */
.#{$font-prefix}sunrise:before {
    content: '\e944';
}

/* '' */
.#{$font-prefix}eclipse:before {
    content: '\e945';
}

/* '' */
.#{$font-prefix}mist:before {
    content: '\e946';
}

/* '' */
.#{$font-prefix}wind:before {
    content: '\e947';
}

/* '' */
.#{$font-prefix}snowflake:before {
    content: '\e948';
}

/* '' */
.#{$font-prefix}windy-rain:before {
    content: '\e949';
}

/* '' */
.#{$font-prefix}snow:before {
    content: '\e94a';
}

/* '' */
.#{$font-prefix}snow-alt:before {
    content: '\e94b';
}

/* '' */
.#{$font-prefix}hail:before {
    content: '\e94c';
}

/* '' */
.#{$font-prefix}fog-sun:before {
    content: '\e94d';
}

/* '' */
.#{$font-prefix}fog-moon:before {
    content: '\e94e';
}

/* '' */
.#{$font-prefix}fog-cloud:before {
    content: '\e94f';
}

/* '' */
.#{$font-prefix}windy:before {
    content: '\e950';
}

/* '' */
.#{$font-prefix}na:before {
    content: '\e951';
}

/* '' */
.#{$font-prefix}temperature:before {
    content: '\e952';
}

/* '' */
.#{$font-prefix}female-2:before {
    content: '\e953';
}

/* '' */
.#{$font-prefix}male-2:before {
    content: '\e954';
}

/* '' */
.#{$font-prefix}link:before {
    content: '\e955';
}

/* '' */
.#{$font-prefix}diamond:before {
    content: '\e956';
}

/* '' */
.#{$font-prefix}eye:before {
    content: '\e957';
}

/* '' */
.#{$font-prefix}eye-1:before {
    content: '\e958';
}

/* '' */
.#{$font-prefix}eye-2:before {
    content: '\e959';
}

/* '' */
.#{$font-prefix}eye-off:before {
    content: '\e95a';
}

/* '' */
.#{$font-prefix}eye-off-1:before {
    content: '\e95b';
}

/* '' */
.#{$font-prefix}eye-3:before {
    content: '\e95c';
}

/* '' */
.#{$font-prefix}picasa-1:before {
    content: '\e95d';
}

/* '' */
.#{$font-prefix}icon-warenkorb-kreis:before {
    content: '\e95e';
}

/* '' */
.#{$font-prefix}icon-anfahrt-kreis:before {
    content: '\e95f';
}

/* '' */
.#{$font-prefix}icon-auge-kreis:before {
    content: '\e960';
}

/* '' */
.#{$font-prefix}icon-info-kreis:before {
    content: '\e961';
}

/* '' */
.#{$font-prefix}rss-1:before {
    content: '\e962';
}

/* '' */
.#{$font-prefix}rss-alt:before {
    content: '\e963';
}

/* '' */
.#{$font-prefix}mobile:before {
    content: '\e964';
}

/* '' */
.#{$font-prefix}mobile-alt:before {
    content: '\e965';
}

/* '' */
.#{$font-prefix}tablet:before {
    content: '\e966';
}

/* '' */
.#{$font-prefix}ipod:before {
    content: '\e967';
}

/* '' */
.#{$font-prefix}cd:before {
    content: '\e968';
}

/* '' */
.#{$font-prefix}globe:before {
    content: '\e969';
}

/* '' */
.#{$font-prefix}print-1:before {
    content: '\e96a';
}

/* '' */
.#{$font-prefix}star-2:before {
    content: '\e96b';
}

/* '' */
.#{$font-prefix}star-empty-2:before {
    content: '\e96c';
}

/* '' */
.#{$font-prefix}star-half:before {
    content: '\e96d';
}

/* '' */
.#{$font-prefix}star-half-alt:before {
    content: '\e96e';
}

/* '' */
.#{$font-prefix}icon-koffer-kreis:before {
    content: '\e96f';
}

/* '' */
.#{$font-prefix}icon-koffer:before {
    content: '\e970';
}

/* '' */
.#{$font-prefix}cancel-circled:before {
    content: '\e971';
}

/* '' */
.#{$font-prefix}cancel-circled-outline:before {
    content: '\e972';
}

/* '' */
.#{$font-prefix}resize-full:before {
    content: '\e973';
}

/* '' */
.#{$font-prefix}angle-double-left:before {
    content: '\e974';
}

/* '' */
.#{$font-prefix}angle-double-right:before {
    content: '\e975';
}

/* '' */
.#{$font-prefix}angle-double-up:before {
    content: '\e976';
}

/* '' */
.#{$font-prefix}angle-double-down:before {
    content: '\e977';
}

/* '' */
.#{$font-prefix}resize-small:before {
    content: '\e978';
}

/* '' */
.#{$font-prefix}resize-full-1:before {
    content: '\e979';
}

/* '' */
.#{$font-prefix}resize-small-1:before {
    content: '\e97a';
}

/* '' */
.#{$font-prefix}resize-full-2:before {
    content: '\e97b';
}

/* '' */
.#{$font-prefix}anchor:before {
    content: '\e97c';
}

/* '' */
.#{$font-prefix}icon-koffer-halb:before {
    content: '\e97d';
}

/* '' */
.#{$font-prefix}icon-koffer-halb-kreis:before {
    content: '\e97e';
}

/* '' */
.#{$font-prefix}icon-koffer-halb2:before {
    content: '\e97f';
}

/* '' */
.#{$font-prefix}icon-koffer-halb-kreis2:before {
    content: '\e980';
}

/* '' */
.#{$font-prefix}icon-jameda-kreis:before {
    content: '\e981';
}

/* '' */
.#{$font-prefix}icon-productplacement-kreis:before {
    content: '\e982';
}

/* '' */
.#{$font-prefix}icon-nav-thin-2:before {
    content: '\e983';
}

/* '' */
.#{$font-prefix}icon-airplane-lounge:before {
    content: '\e984';
}

/* '' */
.#{$font-prefix}home-2:before {
    content: '\e985';
}

/* '' */
.#{$font-prefix}resize-full-alt:before {
    content: '\e986';
}

/* '' */
.#{$font-prefix}resize-vertical:before {
    content: '\e987';
}

/* '' */
.#{$font-prefix}resize-horizontal:before {
    content: '\e988';
}

/* '' */
.#{$font-prefix}flag:before {
    content: '\e989';
}

/* '' */
.#{$font-prefix}help:before {
    content: '\e98a';
}

/* '' */
.#{$font-prefix}help-circled:before {
    content: '\e98b';
}

/* '' */
.#{$font-prefix}icon-productplacement-kreis-voll:before {
    content: '\e98c';
}

/* '' */
.#{$font-prefix}trash-2:before {
    content: '\e98d';
}

/* '' */
.#{$font-prefix}question:before {
    content: '\e98e';
}

/* '' */
.#{$font-prefix}mobile-1:before {
    content: '\e98f';
}

/* '' */
.#{$font-prefix}phone-1:before {
    content: '\e990';
}

/* '' */
.#{$font-prefix}calendar-2:before {
    content: '\e991';
}

/* '' */
.#{$font-prefix}icon-nav-thin-3:before {
    content: '\e992';
}

/* '' */
.#{$font-prefix}icon-camera-big:before {
    content: '\e993';
}

/* '' */
.#{$font-prefix}cog-1:before {
    content: '\e994';
}

/* '' */
.#{$font-prefix}print-2:before {
    content: '\e995';
}

/* '' */
.#{$font-prefix}print-3:before {
    content: '\e996';
}

/* '' */
.#{$font-prefix}fax:before {
    content: '\e997';
}

/* '' */
.#{$font-prefix}mail-3:before {
    content: '\e998';
}

/* '' */
.#{$font-prefix}mail-alt:before {
    content: '\e999';
}

/* '' */
.#{$font-prefix}bell-alt:before {
    content: '\e99a';
}

/* '' */
.#{$font-prefix}bell-off:before {
    content: '\e99b';
}

/* '' */
.#{$font-prefix}bookmark-empty-1:before {
    content: '\e99c';
}

/* '' */
.#{$font-prefix}bookmark-2:before {
    content: '\e99d';
}

/* '' */
.#{$font-prefix}hourglass-1:before {
    content: '\e99e';
}

/* '' */
.#{$font-prefix}cancel-circled-1:before {
    content: '\e99f';
}

/* '' */
.#{$font-prefix}ok-circled2:before {
    content: '\e9a0';
}

/* '' */
.#{$font-prefix}ok-circled:before {
    content: '\e9a1';
}

/* '' */
.#{$font-prefix}search-1:before {
    content: '\e9a2';
}

/* '' */
.#{$font-prefix}search-2:before {
    content: '\e9a3';
}

/* '' */
.#{$font-prefix}attach-3:before {
    content: '\e9a4';
}

/* '' */
.#{$font-prefix}video:before {
    content: '\e9a5';
}

/* '' */
.#{$font-prefix}video-1:before {
    content: '\e9a6';
}

/* '' */
.#{$font-prefix}videocam:before {
    content: '\e9a7';
}

/* '' */
.#{$font-prefix}videocam-1:before {
    content: '\e9a8';
}

/* '' */
.#{$font-prefix}movie:before {
    content: '\e9a9';
}

/* '' */
.#{$font-prefix}video-alt:before {
    content: '\e9aa';
}

/* '' */
.#{$font-prefix}calendar-empty:before {
    content: '\e9ab';
}

/* '' */
.#{$font-prefix}calendar-3:before {
    content: '\e9ac';
}

/* '' */
.#{$font-prefix}calendar-inv:before {
    content: '\e9ad';
}

/* '' */
.#{$font-prefix}calendar-4:before {
    content: '\e9ae';
}

/* '' */
.#{$font-prefix}calendar-5:before {
    content: '\e9af';
}

/* '' */
.#{$font-prefix}calendar-alt:before {
    content: '\e9b0';
}

/* '' */
.#{$font-prefix}icon-smiley-01:before {
    content: '\e9b1';
}

/* '' */
.#{$font-prefix}icon-smiley-02:before {
    content: '\e9b2';
}

/* '' */
.#{$font-prefix}smile:before {
    content: '\e9b3';
}

/* '' */
.#{$font-prefix}frown:before {
    content: '\e9b4';
}

/* '' */
.#{$font-prefix}meh:before {
    content: '\e9b5';
}

/* '' */
.#{$font-prefix}chair-ahs-icon:before {
    content: '\e9b6';
}

/* '' */
.#{$font-prefix}filter:before {
    content: '\e9b7';
}

/* '' */
.#{$font-prefix}filter-1:before {
    content: '\e9b8';
}

/* '' */
.#{$font-prefix}icon-nav-thin-4:before {
    content: '\e9b9';
}

/* '' */
.#{$font-prefix}plus-2:before {
    content: '\e9ba';
}

/* '' */
.#{$font-prefix}plus-3:before {
    content: '\e9bb';
}

/* '' */
.#{$font-prefix}minus:before {
    content: '\e9bc';
}

/* '' */
.#{$font-prefix}minus-2:before {
    content: '\e9bd';
}

/* '' */
.#{$font-prefix}minus-circled-1:before {
    content: '\e9be';
}

/* '' */
.#{$font-prefix}minus-3:before {
    content: '\e9bf';
}

/* '' */
.#{$font-prefix}minus-circled-2:before {
    content: '\e9c0';
}

/* '' */
.#{$font-prefix}eject:before {
    content: '\e9c1';
}

/* '' */
.#{$font-prefix}to-end:before {
    content: '\e9c2';
}

/* '' */
.#{$font-prefix}to-start:before {
    content: '\e9c3';
}

/* '' */
.#{$font-prefix}pause-1:before {
    content: '\e9c4';
}

/* '' */
.#{$font-prefix}stop-1:before {
    content: '\e9c5';
}

/* '' */
.#{$font-prefix}play-1:before {
    content: '\e9c6';
}

/* '' */
.#{$font-prefix}play-circle2:before {
    content: '\e9c7';
}

/* '' */
.#{$font-prefix}down-circle-1:before {
    content: '\e9c8';
}

/* '' */
.#{$font-prefix}left-circle-1:before {
    content: '\e9c9';
}

/* '' */
.#{$font-prefix}right-circle-1:before {
    content: '\e9ca';
}

/* '' */
.#{$font-prefix}up-circle-1:before {
    content: '\e9cb';
}

/* '' */
.#{$font-prefix}cw:before {
    content: '\e9cc';
}

/* '' */
.#{$font-prefix}loop:before {
    content: '\e9cd';
}

/* '' */
.#{$font-prefix}loop-alt:before {
    content: '\e9ce';
}

/* '' */
.#{$font-prefix}headphones-1:before {
    content: '\e9cf';
}

/* '' */
.#{$font-prefix}volume-off-1:before {
    content: '\e9d0';
}

/* '' */
.#{$font-prefix}volume-up-1:before {
    content: '\e9d1';
}

/* '' */
.#{$font-prefix}mic:before {
    content: '\e9d2';
}

/* '' */
.#{$font-prefix}clock:before {
    content: '\e9d3';
}

/* '' */
.#{$font-prefix}lamp:before {
    content: '\e9d4';
}

/* '' */
.#{$font-prefix}resize-full-alt-1:before {
    content: '\e9d5';
}

/* '' */
.#{$font-prefix}resize-small-2:before {
    content: '\e9d6';
}

/* '' */
.#{$font-prefix}resize-small-alt:before {
    content: '\e9d7';
}

/* '' */
.#{$font-prefix}move:before {
    content: '\e9d8';
}

/* '' */
.#{$font-prefix}resize-horizontal-1:before {
    content: '\e9d9';
}

/* '' */
.#{$font-prefix}resize-vertical-1:before {
    content: '\e9da';
}

/* '' */
.#{$font-prefix}popup:before {
    content: '\e9db';
}

/* '' */
.#{$font-prefix}cog-2:before {
    content: '\e9dc';
}

/* '' */
.#{$font-prefix}left:before {
    content: '\e9dd';
}

/* '' */
.#{$font-prefix}right:before {
    content: '\e9de';
}

/* '' */
.#{$font-prefix}down:before {
    content: '\e9df';
}

/* '' */
.#{$font-prefix}up:before {
    content: '\e9e0';
}

/* '' */
.#{$font-prefix}location-inv:before {
    content: '\e9e1';
}

/* '' */
.#{$font-prefix}location-2:before {
    content: '\e9e2';
}

/* '' */
.#{$font-prefix}compass-4:before {
    content: '\e9e3';
}

/* '' */
.#{$font-prefix}home-3:before {
    content: '\e9e4';
}

/* '' */
.#{$font-prefix}info:before {
    content: '\e9e5';
}

/* '' */
.#{$font-prefix}cancel-2:before {
    content: '\e9e6';
}

/* '' */
.#{$font-prefix}calendar-6:before {
    content: '\e9e7';
}

/* '' */
.#{$font-prefix}zoom-in-outline:before {
    content: '\e9e8';
}

/* '' */
.#{$font-prefix}zoom-in-2:before {
    content: '\e9e9';
}

/* '' */
.#{$font-prefix}zoom-out-outline:before {
    content: '\e9ea';
}

/* '' */
.#{$font-prefix}zoom-out-2:before {
    content: '\e9eb';
}

/* '' */
.#{$font-prefix}calendar-outlilne:before {
    content: '\e9ec';
}

/* '' */
.#{$font-prefix}calendar-7:before {
    content: '\e9ed';
}

/* '' */
.#{$font-prefix}video-2:before {
    content: '\e9ee';
}

/* '' */
.#{$font-prefix}picture-1:before {
    content: '\e9ef';
}

/* '' */
.#{$font-prefix}camera-alt:before {
    content: '\e9f0';
}

/* '' */
.#{$font-prefix}camera-1:before {
    content: '\e9f1';
}

/* '' */
.#{$font-prefix}quote-left:before {
    content: '\e9f2';
}

/* '' */
.#{$font-prefix}quote-right:before {
    content: '\e9f3';
}

/* '' */
.#{$font-prefix}file-pdf:before {
    content: '\e9f4';
}

/* '' */
.#{$font-prefix}file-word:before {
    content: '\e9f5';
}

/* '' */
.#{$font-prefix}file-excel:before {
    content: '\e9f6';
}

/* '' */
.#{$font-prefix}file-powerpoint:before {
    content: '\e9f7';
}

/* '' */
.#{$font-prefix}file-image:before {
    content: '\e9f8';
}

/* '' */
.#{$font-prefix}file-archive:before {
    content: '\e9f9';
}

/* '' */
.#{$font-prefix}file-audio:before {
    content: '\e9fa';
}

/* '' */
.#{$font-prefix}file-video:before {
    content: '\e9fb';
}

/* '' */
.#{$font-prefix}award:before {
    content: '\e9fc';
}

/* '' */
.#{$font-prefix}laptop:before {
    content: '\e9fd';
}

/* '' */
.#{$font-prefix}desktop:before {
    content: '\e9fe';
}

/* '' */
.#{$font-prefix}tablet-1:before {
    content: '\e9ff';
}

/* '' */
.#{$font-prefix}mobile-2:before {
    content: '\ea00';
}

/* '' */
.#{$font-prefix}leaf:before {
    content: '\ea01';
}

/* '' */
.#{$font-prefix}to-start-alt:before {
    content: '\ea02';
}

/* '' */
.#{$font-prefix}fast-fw:before {
    content: '\ea03';
}

/* '' */
.#{$font-prefix}fast-bw:before {
    content: '\ea04';
}

/* '' */
.#{$font-prefix}eject-1:before {
    content: '\ea05';
}

/* '' */
.#{$font-prefix}to-end-1:before {
    content: '\ea06';
}

/* '' */
.#{$font-prefix}to-end-alt:before {
    content: '\ea07';
}

/* '' */
.#{$font-prefix}to-start-1:before {
    content: '\ea08';
}

/* '' */
.#{$font-prefix}pause-2:before {
    content: '\ea09';
}

/* '' */
.#{$font-prefix}stop-2:before {
    content: '\ea0a';
}

/* '' */
.#{$font-prefix}paypal:before {
    content: '\ea0b';
}

/* '' */
.#{$font-prefix}sellsy:before {
    content: '\ea0c';
}

/* '' */
.#{$font-prefix}soundcloud-1:before {
    content: '\ea0d';
}

/* '' */
.#{$font-prefix}xing-1:before {
    content: '\ea0e';
}

/* '' */
.#{$font-prefix}xing-squared:before {
    content: '\ea0f';
}

/* '' */
.#{$font-prefix}youtube-1:before {
    content: '\ea10';
}

/* '' */
.#{$font-prefix}youtube-squared:before {
    content: '\ea11';
}

/* '' */
.#{$font-prefix}vimeo-squared:before {
    content: '\ea12';
}

/* '' */
.#{$font-prefix}twitter-squared:before {
    content: '\ea13';
}

/* '' */
.#{$font-prefix}twitter-2:before {
    content: '\ea14';
}

/* '' */
.#{$font-prefix}tumblr-2:before {
    content: '\ea15';
}

/* '' */
.#{$font-prefix}stumbleupon-circled-1:before {
    content: '\ea16';
}

/* '' */
.#{$font-prefix}stumbleupon-1:before {
    content: '\ea17';
}

/* '' */
.#{$font-prefix}skype-2:before {
    content: '\ea18';
}

/* '' */
.#{$font-prefix}pinterest-squared:before {
    content: '\ea19';
}

/* '' */
.#{$font-prefix}pinterest-circled-1:before {
    content: '\ea1a';
}

/* '' */
.#{$font-prefix}pinterest-1:before {
    content: '\ea1b';
}

/* '' */
.#{$font-prefix}linkedin-2:before {
    content: '\ea1c';
}

/* '' */
.#{$font-prefix}linkedin-squared:before {
    content: '\ea1d';
}

/* '' */
.#{$font-prefix}lastfm-1:before {
    content: '\ea1e';
}

/* '' */
.#{$font-prefix}lastfm-squared:before {
    content: '\ea1f';
}

/* '' */
.#{$font-prefix}facebook-squared:before {
    content: '\ea20';
}

/* '' */
.#{$font-prefix}gplus-squared:before {
    content: '\ea21';
}

/* '' */
.#{$font-prefix}gplus-2:before {
    content: '\ea22';
}

/* '' */
.#{$font-prefix}google:before {
    content: '\ea23';
}

/* '' */
.#{$font-prefix}github-1:before {
    content: '\ea24';
}

/* '' */
.#{$font-prefix}git-squared:before {
    content: '\ea25';
}

/* '' */
.#{$font-prefix}git:before {
    content: '\ea26';
}

/* '' */
.#{$font-prefix}facebook-official:before {
    content: '\ea27';
}

/* '' */
.#{$font-prefix}behance-squared:before {
    content: '\ea28';
}

/* '' */
.#{$font-prefix}behance-1:before {
    content: '\ea29';
}

/* '' */
.#{$font-prefix}apple:before {
    content: '\ea2a';
}

/* '' */
.#{$font-prefix}angellist:before {
    content: '\ea2b';
}

/* '' */
.#{$font-prefix}android-1:before {
    content: '\ea2c';
}

/* '' */
.#{$font-prefix}cc-paypal:before {
    content: '\ea2d';
}

/* '' */
.#{$font-prefix}cc-stripe:before {
    content: '\ea2e';
}

/* '' */
.#{$font-prefix}cc-amex:before {
    content: '\ea2f';
}

/* '' */
.#{$font-prefix}cc-discover:before {
    content: '\ea30';
}

/* '' */
.#{$font-prefix}cc-mastercard:before {
    content: '\ea31';
}

/* '' */
.#{$font-prefix}cc-visa:before {
    content: '\ea32';
}

/* '' */
.#{$font-prefix}venus-mars:before {
    content: '\ea33';
}

/* '' */
.#{$font-prefix}mars-double:before {
    content: '\ea34';
}

/* '' */
.#{$font-prefix}venus-double:before {
    content: '\ea35';
}

/* '' */
.#{$font-prefix}transgender-alt:before {
    content: '\ea36';
}

/* '' */
.#{$font-prefix}transgender:before {
    content: '\ea37';
}

/* '' */
.#{$font-prefix}mercury:before {
    content: '\ea38';
}

/* '' */
.#{$font-prefix}mars:before {
    content: '\ea39';
}

/* '' */
.#{$font-prefix}venus:before {
    content: '\ea3a';
}

/* '' */
.#{$font-prefix}mars-stroke:before {
    content: '\ea3b';
}

/* '' */
.#{$font-prefix}mars-stroke-v:before {
    content: '\ea3c';
}

/* '' */
.#{$font-prefix}mars-stroke-h:before {
    content: '\ea3d';
}

/* '' */
.#{$font-prefix}calc:before {
    content: '\ea3e';
}

/* '' */
.#{$font-prefix}copyright:before {
    content: '\ea3f';
}

/* '' */
.#{$font-prefix}at:before {
    content: '\ea40';
}

/* '' */
.#{$font-prefix}tty:before {
    content: '\ea41';
}

/* '' */
.#{$font-prefix}wheelchair:before {
    content: '\ea42';
}

/* '' */
.#{$font-prefix}user-md:before {
    content: '\ea43';
}

/* '' */
.#{$font-prefix}stethoscope:before {
    content: '\ea44';
}

/* '' */
.#{$font-prefix}bed:before {
    content: '\ea45';
}

/* '' */
.#{$font-prefix}building:before {
    content: '\ea46';
}

/* '' */
.#{$font-prefix}cab:before {
    content: '\ea47';
}

/* '' */
.#{$font-prefix}bus:before {
    content: '\ea48';
}

/* '' */
.#{$font-prefix}bicycle:before {
    content: '\ea49';
}

/* '' */
.#{$font-prefix}motorcycle:before {
    content: '\ea4a';
}

/* '' */
.#{$font-prefix}credit-card:before {
    content: '\ea4b';
}

/* '' */
.#{$font-prefix}floppy:before {
    content: '\ea4c';
}

/* '' */
.#{$font-prefix}mic-1:before {
    content: '\ea4d';
}

/* '' */
.#{$font-prefix}filialen-2:before {
    content: '\ea7b';
}

/* '' */
.#{$font-prefix}gps-tourenguide:before {
    content: '\ea7c';
}

/* '' */
.#{$font-prefix}mitarbeiter:before {
    content: '\ea7d';
}

/* '' */
.#{$font-prefix}filialen:before {
    content: '\ea7e';
}

/* '' */
.#{$font-prefix}fluege:before {
    content: '\ea7f';
}

/* '' */
.#{$font-prefix}individuelle-reisen:before {
    content: '\ea80';
}

/* '' */
.#{$font-prefix}langjaehrige-erfahrung:before {
    content: '\ea81';
}

/* '' */
.#{$font-prefix}reiseunterlagen:before {
    content: '\ea82';
}

/* '' */
.#{$font-prefix}sicher-reisen:before {
    content: '\ea83';
}

/* '' */
.#{$font-prefix}starke-partner:before {
    content: '\ea84';
}

/* '' */
