@import "./base";
@import "./media";

$--grid-steps: (
    1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12
) !default;

$--grid-gutters: (
    10px, 15px, 20px, 30px, 40px, 60px
) !default;

@mixin grid-container($suffix: '') {

    .grid#{$suffix} {
        display: flex;
    }

    .grid--row#{$suffix} {
        flex-direction: row;
    }

    .grid--col#{$suffix} {
        flex-direction: column;
    }

    .grid--wrap#{$suffix} {
        flex-wrap: wrap;
    }

    .grid--row.grid--reverse#{$suffix},
    .grid--row#{$suffix}.grid--reverse#{$suffix} {
        flex-direction: row-reverse;
    }

    .grid--col.grid--reverse#{$suffix},
    .grid--col#{$suffix}.grid--reverse#{$suffix} {
        flex-direction: column-reverse;
    }

    .grid--row.grid--stretch#{$suffix},
    .grid--row#{$suffix}.grid--stretch#{$suffix} {
        justify-content: stretch;
    }

    .grid--col.grid--stretch#{$suffix},
    .grid--col#{$suffix}.grid--stretch#{$suffix} {
        align-items: stretch;
    }

    .grid--row.grid--top#{$suffix},
    .grid--row#{$suffix}.grid--top#{$suffix},
    .grid--col.grid--left#{$suffix},
    .grid--col#{$suffix}.grid--left#{$suffix}{
        align-items: flex-start;
    }

    .grid--row.grid--middle#{$suffix},
    .grid--row#{$suffix}.grid--middle#{$suffix},
    .grid--col.grid--center#{$suffix},
    .grid--col#{$suffix}.grid--center#{$suffix}{
        align-items: center;
    }

    .grid--row.grid--bottom#{$suffix},
    .grid--row#{$suffix}.grid--bottom#{$suffix},
    .grid--col.grid--right#{$suffix},
    .grid--col#{$suffix}.grid--right#{$suffix} {
        align-items: flex-end;
    }

    .grid--row.grid--left#{$suffix},
    .grid--row#{$suffix}.grid--left#{$suffix},
    .grid--col.grid--top#{$suffix},
    .grid--col#{$suffix}.grid--top#{$suffix} {
        justify-content: flex-start;
    }

    .grid--row.grid--center#{$suffix},
    .grid--row#{$suffix}.grid--center#{$suffix},
    .grid--col.grid--middle#{$suffix},
    .grid--col#{$suffix}.grid--middle#{$suffix} {
        justify-content: center;
    }

    .grid--row.grid--right#{$suffix},
    .grid--row#{$suffix}.grid--right#{$suffix},
    .grid--col.grid--bottom#{$suffix},
    .grid--col#{$suffix}.grid--bottom#{$suffix} {
        justify-content: flex-end;
    }

}

@mixin grid-gutter($gutter, $suffix: '') {

    .grid--#{strip($gutter)}#{$suffix} {
        width: calc(100% + #{$gutter});
        margin-left: -#{$gutter / 2};
        margin-right: -#{$gutter / 2};
    }

    .grid--#{strip($gutter)}-#{strip($gutter)}#{$suffix} {
        width: calc(100% + #{$gutter});
        margin-left: -#{$gutter / 2};
        margin-right: -#{$gutter / 2};
        margin-top: -#{$gutter / 2};
        margin-bottom: -#{$gutter / 2};
    }

    .grid--#{strip($gutter)}#{$suffix} > [class^="col"],
    .grid--#{strip($gutter)}#{$suffix} > [class*="col"] {
        padding-left: $gutter / 2;
        padding-right: $gutter / 2;
    }

    .grid--#{strip($gutter)}-#{strip($gutter)}#{$suffix} > [class^="col"],
    .grid--#{strip($gutter)}-#{strip($gutter)}#{$suffix} > [class*="col"] {
        padding-left: $gutter / 2;
        padding-right: $gutter / 2;
        padding-top: $gutter / 2;
        padding-bottom: $gutter / 2;
    }

}

@mixin grid-columns($size, $suffix: '') {

    .col#{$suffix},
    .col--auto#{$suffix} {
        width: auto;
    }

    .col--top#{$suffix} {
        margin-bottom: auto;
    }

    .col--middle#{$suffix} {
        margin-top: auto;
        margin-bottom: auto;
    }

    .col--bottom#{$suffix} {
        margin-top: auto;
    }

    .col--left#{$suffix} {
        margin-right: auto;
    }

    .col--center#{$suffix} {
        margin-right: auto;
        margin-left: auto;
    }

    .col--right#{$suffix} {
        margin-left: auto;
    }

    .col--flex-1#{$suffix},
    .col--flex-1-0#{$suffix} {
        flex: 1 0 auto;
    }

    .col--flex-0#{$suffix},
    .col--flex-0-1#{$suffix}{
        flex: 0 1 auto;
    }

    .col--flex-none#{$suffix},
    .col--flex-0-0#{$suffix}{
        flex: 0 0 auto;
    }

    .col--flex-auto#{$suffix},
    .col--flex-1-1#{$suffix} {
        flex: 1 1 auto;
    }

    .col--flex-fixed#{$suffix} {
        flex: 1 1 auto;
        min-height: 0;
        max-height: 100%;
    }

    @for $i from 1 through 10 {
        .col--order-#{$i}#{$suffix} {
            order: $i;
        }
    }

    @for $i from 1 through $size {
        .col--#{$i}-#{$size}#{$suffix} {
            width: #{((100% / $size) * $i) - 0.001};
        }
    }

    @for $i from 1 through $size {
        .offset--#{$size - $i}-#{$size}#{$suffix} {
            margin-left: #{((100% / $size) * $i) - 0.01};
        }
    }

}

@include media() {

    @include grid-container($suffix);

    @each $gutter in reverse($--grid-gutters) {
        @include grid-gutter($gutter, $suffix);
    }

    @each $steps in reverse($--grid-steps) {
        @include grid-columns($steps, $suffix);
    }

}

