@import "./base";
@import "./media";

$--window-steps: (
        1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16
) !default;


[class*="image--"] > img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

[class*="image--"]:after {
    content: '\00a0';
    display: block;
    width: 100%;
    height: 0;
}

@mixin images($size1, $size2, $suffix: '') {
    @for $i from 1 through $size {
        .ratio--#{$size1}-#{$size2}#{$suffix}:after {
            padding-bottom: ($size2 / $size1 ) * 100%;
        }
    }
}

@include media() {
    @each $stepOuter in reverse($ratio-steps) {
        @each $stepInner in $ratio-steps {
            @include ratios($stepOuter, $stepInner, $suffix);
        }
    }
}