@import "~@kizmann/nano-ui/src/root/vars";

.sx-filelist-item__remove {
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    color: rgba($color-gray-50, 0.8);
    background: rgba($color-gray-50, 0.15);
}

.sx-filelist-item__preview {
    flex: 0 0 auto;
    position: relative;
    width: 100%;
}

.sx-filelist-item__preview:before {
    content: '\00a0';
    display: block;
    height: 0;
    padding-bottom: 100%;
}

.sx-filelist-item__preview .n-preview {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.sx-filelist-item__progress {
    z-index: 100;
    position: relative;
    display: flex;
    width: 100%;
    height: 4px;
    margin-top: -4px;
    background: rgba($color-gray-50, 0.25);
}


.sx-filelist-item.sx-filelist-item--exceed .sx-filelist-item__progress {
    background: rgba($color-danger, 0.15);
}

.sx-filelist-item__progress > span {
    height: 4px;
    background: $color-primary;
}

.sx-filelist-item.sx-filelist-item--done .sx-filelist-item__progress > span {
    background: $color-success;
}

.sx-filelist-item.sx-filelist-item--error .sx-filelist-item__progress > span {
    background: $color-danger;
}

.sx-filelist-item__name {
    flex: 0 0 auto;
    overflow: hidden;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $color-black;
    padding: 10px 15px 0;
}

.sx-filelist-item.sx-filelist-item--exceed .sx-filelist-item__name {
    color: $color-danger;
}

.sx-filelist-item__meta {
    flex: 0 0 auto;
    overflow: hidden;
    padding: 0 15px 10px;
    font-size: 13px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $color-gray-50;
}

.sx-filelist-item.sx-filelist-item--exceed .sx-filelist-item__meta {
    color: rgba($color-danger, 0.5);
}
