@import "~@kizmann/nano-ui/src/root/vars";

.sx-error {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $color-black;
}

.sx-error__text {
    text-align: center;
    padding-bottom: 10vh;
}

.sx-error__text h1 {
    font-weight: 300;
    font-size: 32px;
    color: $color-white;
    margin-bottom: 12px;
}

.sx-error__text p {
    font-size: 16px;
    color: $color-gray-70;
}
