<template>
    <div :class="classList">
        <input :value="nativeValue" type="text" @input="changeInput"> <button class="fa fa-check" @click="onClick"></button>
        <button class="fa fa-envelope" @click="testObject.foo.push('heee')"></button>
    </div>
</template>
<script>
    export default {

        name: 'SxInput',

        inject: {

            SxCodeTest: {
                default: undefined
            }

        },

        props: {

            value: {
                default()
                {
                    return null;
                }
            },

            disabled: {
                default()
                {
                    return false
                },
                type: [Boolean]
            }

        },

        computed: {

            classList()
            {
                let classList = [
                    'sx-input'
                ];

                if ( this.disabled === true ) {
                    classList.push('sx-input--disabled');
                }

                return classList;
            }

        },

        data()
        {
            return {
                nativeValue: '', testObject: { foo: [] }
            };
        },

        methods: {

            onClick()
            {
                this.$emit('update:disabled', !this.disabled);
            },

            changeInput(event)
            {
                this.$emit('input', this.nativeValue = event.target.value);
            }

        },

        mounted()
        {
            console.log(this.$parent, this.SxCodeTest);
            this.$on('input', () => console.log(this.testObject), { deep: true });
        },

    }
</script>
<style>

    .sx-input {
        background: red;
    }

    .sx-input--disabled {
        background: blue;
    }

</style>
