<template>
    <div style="background: #fff;" ref="foobar">
        <sx-input v-if="!destroy" ref="input" v-model="tempValue" :disabled.sync="disabledState"></sx-input>
        <NButton @click="destroy = !destroy" icon="fa fa-times"></NButton>
        <NButton @click="changeEvent" icon="fa fa-check"></NButton>
    </div>
</template>
<script>
    export default {

        name: 'SxCodeTest',

        data()
        {
            return {
                tempValue: '', disabledState: true, destroy: false
            };
        },

        methods: {

            changeEvent()
            {
                this.$refs.input.onClick();
            }

        },

        provide()
        {
            return {
                SxCodeTest: this
            };
        },

        mounted()
        {
            console.log(this.$refs.foobar);
        }

    }
</script>

