@import "~@kizmann/nano-ui/src/root/vars";

.sx-root {
    z-index: 10;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    padding-left: 60px;
    background: $color-white;
}

.sx-root.sx-root--fixed-nav {
    padding-left: 240px;
}

.sx-header {
    z-index: 1000;
    position: relative;
    height: 60px;
    background: $color-black;
    box-shadow: 0 0 4px rgba($color-black, 0.15);
}

.sx-header .n-select,
.sx-header .n-cascader {
    background: $color-black-light;
    color: $color-gray-40;
    border: none;
    transition: background 150ms;
}

.sx-header .n-select:hover,
.sx-header .n-select.n-open {
    background: $color-black-lighter;
}

.sx-header .n-select input {
    color: $color-white;
}

.sx-sidebar,
.sx-sidebar__inner {
    z-index: 1100;
    position: absolute;
    left: 0;
    top: 0;
    height: calc(100vh);
    width: 240px;
}

.sx-sidebar {
    overflow: hidden;
    transform: translateX(-180px);
    transition: transform 450ms ease;
    color: $color-white;
    background: darken($color-primary, 3%);
    box-shadow: 0 0 3px rgba($color-black, 0.15);
}

.sx-sidebar.sx-open,
.sx-root.sx-root--fixed-nav .sx-sidebar {
    transform: translateX(0);
}

.sx-sidebar__inner {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    transform: translateX(180px);
    transition: transform 450ms ease;
}

.sx-sidebar.sx-open .sx-sidebar__inner,
.sx-root.sx-root--fixed-nav .sx-sidebar__inner {
    transform: translateX(0);
}

.sx-sidebar a {
    color: $color-white;
}

.sx-sidebar .n-scrollbar-vtrack:before,
.sx-sidebar .n-scrollbar-htrack:before {
    background: rgba($color-white, 0.4);
}

.sx-sidebar__toggle {
    cursor: pointer;
    z-index: 1200;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 30px;
    height: 60px;
    opacity: 0;
    transition: opacity 0.15s, background 0.15s;
}

.sx-sidebar__toggle:hover {
    background: $color-primary-light;
}

.sx-root.sx-root--fixed-nav .sx-sidebar__toggle,
.sx-sidebar.sx-open .sx-sidebar__toggle {
    opacity: 1;
}

.sx-sidebar__toggle i {
    display: block;
    text-align: center;
    line-height: 60px;
    color: $color-white;
    transition: transform 0.3s;
}

.sx-root.sx-root--fixed-nav .sx-sidebar__toggle i {
    transform: rotate(180deg);
}

.sx-sidebar__logo {
    z-index: 10;
    position: relative;
    flex: 0 0 auto;
    background: $color-primary;
    font-size: 14px;
    font-weight: 700;
    box-shadow: 0 0 3px rgba($color-black, 0.1);
}

.n-sidebar__text {
    position: absolute;
    top: calc(50% - 15px);
    left: 60px;
    line-height: 30px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 100ms ease;
}

.sx-root.sx-root--fixed-nav .n-sidebar__text,
.sx-sidebar.sx-open .n-sidebar__text {
    opacity: 1;
    transition: opacity 300ms 200ms ease;
}

.sx-sidebar__logo a {
    display: block;
    height: 60px;
}

.sx-sidebar__logo a:before {
    content: '\00a0';
    position: absolute;
    top: 13px;
    left: 13px;
    display: block;
    width: 34px;
    height: 34px;
    background-repeat: no-repeat;
    background-image: svg-load('simplex.svg', fill=$color-white);
    background-size: auto 100%;
}

.sx-sidebar__logo a .n-sidebar__text {
    top: calc(50% - 23px);
    left: 58px !important;
}

.sx-sidebar__logo a .n-sidebar__text:before {
    content: '\00a0';
    display: block;
    width: 110px;
    height: 40px;
    background-repeat: no-repeat;
    background-image: svg-load('simplex.svg', fill=$color-white);
    background-size: auto 90%;
    background-position: -48px 5px;
}

.sx-sidebar__nav {
    position: relative;
    flex: 1 1 auto;
}

.sx-sidebar__nav > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sx-root__main {
    z-index: 900;
    position: relative;
    overflow: hidden;
    height: calc(100vh - 60px);
}

.sx-root__main > *:first-child:last-child {
    width: 100%;
    min-height: calc(100vh - 60px);
}

