@import "~@kizmann/nano-ui/src/root/vars";

.sx-cropper {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: $color-background;
    overflow-y: auto;
    overflow-x: hidden;
}

.sx-cropper .croppr-overlay {
    background: rgba($color-background, 0.7);
}

.sx-cropper .croppr-handle {
    border-radius: 500px;
    border: 1px solid $color-white;
    background: rgba($color-black, 0.6);
    box-shadow: 0 0 3px rgba($color-black, 0.15);
}

.sx-cropper .croppr-region {
    border: 1px dashed rgba($color-black, 0.3);
    border-radius: 4px;
}

.sx-cropper__wrapper {
    flex: 1 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sx-cropper__toolbar {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px 30px;
    background: $color-white;
    box-shadow: 0 1px 3px rgba($color-gray-50, 0.25);
}

.sx-cropper__toolbar  > div {
    flex: 0 0 auto;
    padding: 0 7px;
}

.sx-cropper__toolbar  > div:first-child {
    padding-left: 0;
}

.sx-cropper__toolbar  > div:last-child {
    padding-right: 0;
}

.sx-cropper__toolbar-spacer {
    flex: 1 1 auto !important;
}

.sx-cropper__viewport {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.sx-cropper__viewport-inner {
    //overflow: hidden;
}

.sx-cropper__viewport img {
    display: inline-block;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 600px;
}

.sx-cropper__metadata {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -30px;
    padding: 15px 30px;
    text-align: center;
}

.sx-cropper__metadata > div {
    flex: 0 0 auto;
    padding: 0 7px;
}

.sx-cropper__metadata > div:first-child {
    padding-left: 0;
}

.sx-cropper__metadata > div:last-child {
    padding-right: 0;
}

.sx-cropper__metadata span {
    color: $color-gray-60;
}

.sx-cropper__metadata--danger {
    color: $color-danger !important;
}
