@import "~@kizmann/nano-ui/src/root/vars";

.n-dataform {
    overflow: hidden;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    min-height: 0;
    background: $color-white;
}

.n-dataform__header {
    position: relative;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 17px 50px 17px 20px;
    border-bottom: 1px solid $color-gray-10;
}

.n-dataform__title {
    flex: 1 1 auto;
    font-size: 19px;
    color: $color-primary;
}

.n-dataform__locale {
    flex: 0 0 auto;
    min-width: 150px;
}

.n-dataform__body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    min-height: 0;
    max-height: 100%;
    overflow-y: auto;
}

.n-dataform__body .n-dataform__tabs {
    flex: 1 1 auto;
    //min-height: 0;
    //max-height: 100%;
}

.n-tabs__body .n-form .n-tabs-item {
    margin-top: 0;
}

.n-tabs__body .n-form .n-tabs-item > .n-scrollbar-content > .n-scrollbar__wrap {
    padding-top: 10px;
}

.n-modal.n-modal--form .n-tabs__body .n-form,
.n-modal.n-modal--form .n-tabs__body .n-form .n-tabs-item.n-scrollbar,
.n-modal.n-modal--form .n-tabs__body .n-form .n-tabs-item .n-table,
.n-modal.n-modal--form .n-tabs__body .n-form .n-tabs-item .sx-main,
.n-modal.n-modal--form .n-tabs__body .n-form .n-tabs-item .sx-menu-alias,
.n-modal.n-modal--form .n-tabs__body .n-form .n-tabs-item .sx-element-panel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.n-tabs__body .n-tabs-item .n-scrollbar__wrap {
    display: flex;
    flex-direction: column;
}

.n-tabs__body .n-tabs-item > .n-scrollbar-content > .n-scrollbar__wrap > * {
    flex: 0 0 auto;
}

.n-tabs__body .n-tabs-item:not(.n-scrollbar):not(.clear),
.n-tabs__body .n-tabs-item.n-scrollbar:not(.clear) > .n-scrollbar-content > .n-scrollbar__wrap {
    padding: 20px 20px 0;
}

    //.n-dataform__body .n-tabs.n-dataform__tabs > .n-tabs__header-inner {
//    padding: 0 20px;
//}
//
//.n-dataform__body .n-tabs.n-dataform__tabs > .n-tabs__body {
//    position: relative;
//    overflow-y: auto;
//    display: flex;
//    flex-direction: column;
//}
//
//.n-form-group__body > div:last-child {
//    margin-bottom: 0 !important;
//}
//
//.n-dataform__body .n-tabs.n-dataform__tabs .n-form {
//    flex: 1 1 auto;
//    display: flex;
//    flex-direction: column;
//    align-items: stretch;
//    justify-content: stretch;
//    min-height: 0;
//    max-height: 100%;
//}
//
//.n-dataform__body .n-tabs-item__wrapper {
//    flex: 1 1 auto;
//    margin-top: 0;
//    min-height: 0;
//    max-height: 100%;
//}
//
//.n-dataform__body .n-tabs-item,
//.n-dataform__body .n-pseudo-tabs-item {
//    padding: 20px;
//}
//
//.n-dataform__body .n-tabs-item__wrapper.n-raw > .n-tabs-item {
//    padding: 0;
//    display: flex;
//    flex-direction: column;
//    align-items: stretch;
//    justify-content: stretch;
//}
//
//.n-dataform__body .n-tabs-item__wrapper.n-raw > .n-tabs-item > div {
//    flex: 1 0 auto;
//}
//
////.n-dataform__body .n-tabs.n-dataform__tabs .n-tabs-item__wrapper.n-raw .n-pseudo-tabs-item {
////    flex: 1 1 auto;
////    display: flex;
////    flex-direction: column;
////    padding: 0;
////    max-height: 100%;
////}
//
////.n-dataform__body .n-tabs.n-dataform__tabs .n-tabs-item.n-raw > div {
////    flex: 1 1 auto;
////    min-height: 0;
////    max-height: 100%;
////}
//
.n-dataform__footer {
    flex: 0 0 auto;
    padding: 10px 20px;
    border-top: 1px solid $color-gray-10;
}

.n-dataform__close {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
}

.n-dataform__close span {
    font-size: 18px;
    color: $color-gray-30;
    transition: color 0.15s;
}

.n-dataform__close:hover span {
    color: $color-gray-40;
}

.n-dataform__toolbar {
    display: flex;
    flex-direction: row;
}

.n-dataform__toolbar > div {
    flex: 0 0 auto;
    padding: 0 7px;
}

.n-dataform__toolbar > div:first-child {
    padding-left: 0;
}

.n-dataform__toolbar > div:last-child {
    padding-right: 0;
}

.n-dataform__toolbar-spacer {
    flex: 1 1 auto !important;
}