@import "~@kizmann/nano-ui/src/root/vars";

/**
 * Item
 */

.sx-formular-field-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 50px;
    padding: 7px 20px;
    border-bottom: 1px solid $color-gray-10;
}

.sx-formular-field-item > div:not(:first-child) {
    margin-left: 10px;
}

.sx-formular-field-item > div:not(:last-child) {
    margin-right: 10px;
}

.sx-formular-field-item__icon {
    width: 32px;
    text-align: center;
}

.sx-formular-field-item__icon span {
    color: $color-primary;
}

.sx-formular-field-item.sx-formular-field-item--required .sx-formular-field-item__icon span {
    color: $color-danger;
}

.sx-formular-field-item__title {
    flex: 1 1 auto;
    font-size: 14px;
}

.sx-formular-field-item__name {
    width: 140px !important;
}

.sx-formular-field-item__name  span {
    display: block;
    padding: 4px 9px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    text-align: center;
    color: $color-gray-60;
    background: rgba($color-gray-50, 0.1);
    border-radius: $sm-radius;
}

.sx-formular-field-item__action {
    display: flex;
    flex-direction: row;
}

.sx-formular-field-item__action > div:not(:first-child) {
    margin-left: 5px;
}

.sx-formular-field-item__action > div:not(:last-child) {
    margin-left: 5px;
}
