@import "~@kizmann/nano-ui/src/root/vars";

.sx-formular-field-items {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.sx-formular-field-items__body {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    min-height: 0;
}

.sx-formular-field-items__body .n-draglist {
    position: absolute;
    top: 0;
    bottom: -1px;
    left: 0;
    right: 0;
}

.sx-formular-field-items__footer {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
    border-top: 1px solid $color-gray-10;
}

