@import "~@kizmann/nano-ui/src/root/vars";


.sx-menu-alias {
    display: flex;
    flex-direction: row;
}

.sx-menu-alias__left {
    position: relative;
    width: 35%;
    display: flex;
    flex-direction: column;
    padding-right: 5px;
}

.sx-menu-alias__left:before {
    content: '\00a0';
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 5px;
    height: 100%;
    background: $color-gray-10;
}

.sx-menu-alias__right {
    position: relative;
    width: 65%;
    display: flex;
    flex-direction: column;
}
