@import "~@kizmann/nano-ui/src/root/vars";

.sx-menu-tree-node {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 36px;
    overflow: hidden;
}

.sx-menu-tree-node.sx-menulink .sx-menu-tree-node__title {
    font-weight: 600;
}

.sx-menu-tree-node.sx-segment .sx-menu-tree-node__title:before {
    content: '[';
    color: $color-gray-70 !important;
}

.sx-menu-tree-node.sx-segment .sx-menu-tree-node__title:after {
    content: ']';
    color: $color-gray-70 !important;
}

.sx-menu-tree-node__icon {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    padding: 0 10px 0 5px;
    font-size: 14px;
    opacity: 0.8;
    color: $color-primary-dark;
}

.sx-menu-tree-node__title {
    flex: 1 1 auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sx-menu-tree-node__action {
    flex: 0 0 auto;
}

.n-draglist-item:not(.is-dragged):not(:hover) .sx-menu-tree-node__action {
    display: none !important;
}
