@import "~@kizmann/nano-ui/src/root/vars";

::selection {
    background: rgba($color-primary, 0.25);
}

[v-cloak] {
    display: none;
}

* {
    outline: none !important;
}

html, body {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    font-variant-numeric: normal;
    font-feature-settings: normal;
}

body {
    overflow: hidden;
    color: $color-black;
    font-family: "Inter", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

pre {
    font-size: 14px;
    color: $color-warning;
    padding: 10px 15px;
    background: $color-black;
    border-radius: $md-radius;
}

pre.pretty {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: $color-white;
    padding: 10px 15px;
    background: $color-primary;
    border-radius: $md-radius;
}

div, a {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $color-primary;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

h1 {
    font-size: 2.6rem
}

h2 {
    font-size: 1.8rem
}

h3 {
    font-size: 1.3rem
}

h4 {
    font-size: 1.1rem
}

h5 {
    font-size: 1.0rem
}

h6 {
    font-size: 0.9rem
}

p {
    color: $color-black;
    font-size: 1.0rem;
}

p:not(:last-child) {
    margin-bottom: 1.0rem;
}

th {
    font-weight: normal;
}

.hidden {
    display: none !important;
}

.link--muted {
    color: lighten($color-info, 25%);
}

.link--disabled {
    cursor: not-allowed;
    color: lighten($color-info, 10%);
}

.text-mini {
    font-size: 11px;
}

.text-small {
    font-size: 13px;
}

.text-base {
    font-size: 15px;
}

.text-medium {
    font-size: 19px;
}

.text-large {
    font-size: 21px;
}

.text-bold {
    font-weight: 600;
}

.text-regular {
    font-weight: 400;
}

.text-light {
    font-weight: 300;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.text-white {
    color: $color-white;
}

.text-black {
    color: $color-black;
}

.text-primary {
    color: $color-primary;
}

.text-success {
    color: $color-success;
}

.text-warning {
    color: $color-warning;
}

.text-danger {
    color: $color-danger;
}

.text-info {
    color: $color-info;
}

.text-muted {
    color: $color-gray-50;
}

.text-ellipsis {
    overflow: hidden;
    display: block;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.toolbar > *:not(:first-child) {
    margin-left: 3px;
}

.offpage {
    z-index: -100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-black-dark;
}

.binary {
    background-image: url('../img/binary.png');
    background-size: 70px 70px;
    animation: moveBinary 2s infinite step-end;
}

@keyframes moveBinary {
    20% {
        background-position: 0 14px;
    }
    40% {
        background-position: 9px 28px;
    }
    60% {
        background-position: 18px 42px;
    }
    80% {
        background-position: 27px 56px;
    }
    100% {
        background-position: 36px 0;
    }
}

.n-table__row.n-table__row.n-table__row--current {
    background: $color-background;
}

.n-draglist-tree-item.n-draglist-tree-item--selected .sx-attachment-tree-node__title {
    color: $color-primary;
}

.n-form-item.n-i18n .n-form-item__label label {
    color: $color-info;
}

.absolute {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.grid-full {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 10px;
    padding-right: 10px;
}

.grid-split > * {
    flex: 1 1 auto;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.grid-split {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 10px;
    padding-right: 10px;
}

.grid-split > * {
    flex: 1 1 auto;
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
}

.article-splitview > .n-scrollbar-content > .n-scrollbar__wrap {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.article-splitview > .n-scrollbar-content > .n-scrollbar__wrap > *:first-child {
    flex: 0 0 auto;
}

.article-splitview > .n-scrollbar-content > .n-scrollbar__wrap > *:last-child {
    flex: 1 0 auto;
}

.article-wysiwyg > * {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}

.article-wysiwyg .fr-wrapper {
    overflow: auto;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}

.article-wysiwyg .fr-wrapper iframe {
    flex: 1 0 auto;
}

.article-wysiwyg .fr-toolbar,
.article-wysiwyg .fr-wrapper,
.article-wysiwyg .fr-second-toolbar {
    border-color: transparent !important;
}

.n-info {
    border: none;
}

.n-form-group__text {
    font-weight: normal;
}

.n-draglist-item__element {
    overflow: hidden;
}

.n-info-field span {
    overflow: hidden;
    text-overflow: ellipsis;
}

.n-preview {
    position: relative;
}

.n-preview.n-clickable {
    cursor: pointer;
}

.n-preview:before {
    z-index: 100;
    content: '\f002';
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 31px;
    height: 31px;
    border-radius: 500px;
    opacity: 0;
    color: $color-white;
    background: rgba($color-primary, 0.8);
    transform: translate(-50%, -50%);
    font-family: 'Font Awesome 5 Pro', sans-serif;
    transition: opacity 0.3s;
}

.n-preview:hover:before {
    opacity: 1;
}

.n-preview.n-mime-video:before {
    z-index: 100;
    content: '\f04b';
}