@import "~@kizmann/nano-ui/src/root/vars";

.app__error {
    text-align: center;
}

.app__error a {
    color: lighten($color-info, 20%);
}

.app__error h1 {
    font-weight: 300;
    font-size: 2rem;
    color: $color-white;
    margin-bottom: 12px;
}

.app__error p {
    color: $color-info;
}
