@import "~@kizmann/nano-ui/src/root/vars";

.fr-toolbar.fr-top {
    border-color: $color-gray-15;
    border-radius: $md-radius $md-radius 0 0;
}

.fr-box.fr-basic .fr-wrapper {
    border-color: $color-gray-15;
}

.fr-box .second-toolbar {
    border-color: $color-gray-15;
    background-color: $color-gray-05;
    border-radius: 0 0 $md-radius $md-radius;
}

.n-raw .fr-box.fr-basic,
.n-raw .fr-toolbar.fr-top,
.n-raw .fr-box.fr-basic .fr-wrapper,
.n-raw .fr-box .second-toolbar {
    border: none;
    border-radius: 0;
}

.fr-popup {
    border-radius: $md-radius;
}

.fr-popup .fr-layer {
    margin: 5px 10px;
}

.fr-popup .fr-input-line {
    //padding: 8px 0;
}

.fr-popup .fr-input-line input[type="text"], .fr-popup .fr-input-line textarea {
    border-color: $color-gray-10;
}
