@import "~@kizmann/nano-ui/src/root/vars";

.sx-header__aco {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.sx-header__locale {
    display: flex;
    align-items: center;
}

.sx-header > div {
    margin-left: 20px;
}

.sx-header > div:last-child {
    margin-right: 20px;
}

.sx-header__spacer {
    margin: 0 !important;
}
