@import "~@kizmann/nano-ui/src/root/vars";

.loader {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-white;
    background: linear-gradient(30deg, darken($color-primary, 5%) 0%, $color-primary-lighter 100%);
}

.loader__logo {
    width: 200px;
    margin-bottom: 30px;
}

.loader__logo span:before {
    content: '\00a0';
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 26.6%;
    background-image: svg-load('simplex.svg', fill=$color-white);
    background-size: cover;
}

.loader__info {
    margin-top: 15px;
    font-size: 14px;
}

.loader.loader--slide .loader__background {
    width: 300px;
}

.loader.loader--slide .loader__background span {
    overflow: hidden;
    position: relative;
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background: darken($color-primary, 5%);
}

.loader.loader--slide .loader__background span:before {
    content: '\00a0';
    position: absolute;
    left: 15%;
    display: block;
    width: 70%;
    height: 100%;
    border-radius: 3px;
    background: $color-white;
    animation: ease-in LoaderSlide 1s infinite;
}

@keyframes LoaderSlide {

    0% {
        transform: translateX(-100%) scaleX(0);
    }

    70% {
        transform: translateX(10%) scaleX(1);
    }

    100% {
        transform: translateX(100%) scaleX(0);
    }

}
