@import "~@kizmann/nano-ui/src/root/vars";

.n-modal.n-modal--form {
    padding: 0 0 0 140px;
}

.n-modal.n-modal--form:not(.n-ready) .n-modal__frame {
    transform: translateX(50px);
}

.n-modal.n-modal--form .n-modal__frame {
    border-radius: 0;
    margin-right: 0;
}

.n-modal.n-modal--form .n-fade-up-enter-active,
.n-modal.n-modal--form .n-fade-up-leave-active {
    transition: transform 350ms ease, opacity 350ms ease;
}

.n-modal.n-modal--form .n-fade-up-enter,
.n-modal.n-modal--form .n-fade-up-leave-to {
    opacity: 0;
    transform: translateX(60px);
}
