@import "~@kizmann/nano-ui/src/root/vars";


.nav > ul {
    display: flex;
    flex-direction: column;
}

.nav a {
    position: relative;
}

.nav__item {
    flex: 0 0 auto;
}

.nav__layer--0 > .nav__item > a {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 60px;
    //transition: background 100ms ease;
}

.nav__layer--0 > .nav__item > a:hover,
.nav__layer--0 > .nav__item > a.sx-active {
    color: $color-white;
    background-color: darken($color-primary, 5%);
}

.nav__layer--0 > .nav__item > a:before {
    content: '\00a0';
    z-index: 10;
    position: absolute;
    right: 10px;
    top: calc(50% - 3px);
    display: block;
    width: 100%;
    max-width: 6px;
    height: 6px;
    opacity: 0;
    border-radius: 500px;
    background-color: rgba($color-white, 0.25);
}

.nav__layer--0 > .nav__item:hover > a:before {
    max-width: 12px;
}

.nav__layer--0 > .nav__item > a.sx-active:before {
    background: $color-white;
}

.sx-sidebar.sx-open .nav__layer--0 > .nav__item > a:before,
.sx-root.sx-root--fixed-nav .nav__layer--0 > .nav__item > a:before {
    opacity: 1;
    transition: opacity 300ms 300ms ease, max-width 300ms ease, background 300ms;
}

.nav__layer--1 {
    overflow: hidden;
    max-height: 0;
    transition: max-height 400ms ease;
}

.sx-root.sx-root--fixed-nav .nav__item.sx-open > .nav__layer--1,
.sx-open .nav__item.sx-open > .nav__layer--1 {
    max-height: 500px;
    transition: max-height 600ms ease;
}

.nav__layer--1 > .nav__item > a {
    display: block;
    height: 36px;
    line-height: 36px;
    color: rgba($color-white, 0.7);
    transition: color 100ms ease;
}

.nav__layer--1 > .nav__item > a:hover {
    background-color: darken($color-primary, 5%);
}

.nav__layer--1 > .nav__item > a.sx-active {
    color: $color-white;
}

a > [class*="sx-icon-"] {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 60px;
    height: 60px;
    font-family: "Font Awesome 5 Duotone", sans-serif;
    font-size: 22px;
    //background-blend-mode: luminosity;
    //background-size: 60px 60px;
    //background-position: center center;
    //background-repeat: no-repeat;
    //background-color: darken($color-primary, 3%);
}

a:hover > [class*="sx-icon-"] {
    //background-color: darken($color-primary, 5%);
}

a > [class*="sx-icon-"]:before,
a > [class*="sx-icon-"]:after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    transform: translate(-50%, -50%);
}

a > [class*="sx-icon-"]:before {
    color: rgba($color-white, 1.0);
}

a > [class*="sx-icon-"]:after {
    color: rgba($color-white, 0.45);
}

.sx-icon-dashboard:before {
    content: '\f015';
}

.sx-icon-dashboard:after {
    content: '\10f015';
}

.sx-icon-article:before {
    content: '\f37e';
}

.sx-icon-article:after {
    content: '\10f37e';
}

.sx-icon-element:before {
    content: '\f5fd';
}

.sx-icon-element:after {
    content: '\10f5fd';
}

.sx-icon-media:before {
    content: '\f87c';
}

.sx-icon-media:after {
    content: '\10f87c';
}

.sx-icon-mailing:before {
    content: '\10f674';
}

.sx-icon-mailing:after {
    content: '\f674';
}

.sx-icon-user:before {
    content: '\f509';
}

.sx-icon-user:after {
    content: '\10f509';
}

.sx-icon-formular:before {
    content: '\f4a4';
}

.sx-icon-formular:after {
    content: '\10f4a4';
}

.sx-icon-system:before {
    content: '\f7d9';
}

.sx-icon-system:after {
    content: '\10f7d9';
}

.sx-icon-logout:before {
    content: '\f08b';
}

.sx-icon-logout:after {
    content: '\10f08b';
}

