@import "~@kizmann/nano-ui/src/root/vars";

.sx-layout-location {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}

.sx-layout-location__item {
    padding: 15px 5px;
}

.sx-layout-location__item:not(:last-child):after {
    content: '\f105';
    display: inline-block;
    font-family: "Font Awesome 5 Pro", sans-serif;
    margin-left: 10px;
    color: $color-gray-50;
}

.sx-layout-location__item > a {
    color: $color-gray-35;
    transition: color 0.15s;
}

.sx-layout-location__item:last-child > a {
    color: $color-white;
}

//.sx-layout-location__item > a:hover {
//    color: $color-white;
//}

