<template>
    <NForm :model="value" :errors="errors">
        <SxCustomfield v-for="(tab, index) in Form.get('sx-example-example', [])" :key="index" :value="value" :source="[tab]" />
    </NForm>
</template>
<script>
    import DefaultEdit from "../../../default/src/edit/edit";

    export default {

        name: 'SxExampleEdit',

        extends: DefaultEdit

    }
</script>
